
// checkbox

/* The customcheck */
.total-units{
  .customcheck {
  
    // padding-left: 19px !important;
   
  }
}
.customcheck {
  display: block;
  /* position: relative; */
  /* padding-left: 35px !important; */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    visibility: hidden;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: -14px;
    left: 3px;
    height: 25px;
    width: 25px;
    background-color: #e9ecef;
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .customcheck:hover input~.checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .customcheck input:checked~.checkmark {
    background-color: #76bd43;
    border-radius: 5px;
    border: 0;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .customcheck input:checked~.checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .customcheck .checkmark:after {
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
    top: 3px;
    width: 10px;
    height: 16px;
  
  }

  .customcheck {


    .checkmark {
      top: 3px;
      left: 13px;
      height: 20px;
      width: 20px;
      border: 2px solid;

      &:after {

        left: 6px;
    top: 1px;
    width: 8px;
    height: 14px;

      }
    }
  }