/* Font Styles Files */

@font-face {
  font-family: "AvenirLTStd-Black";
  src: url("../fonts/AvenirLTStd-Black.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-BlackOblique";
  src: url("../fonts/AvenirLTStd-BlackOblique.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-BookOblique";
  src: url("../fonts/AvenirLTStd-BookOblique.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Book";
  src: url("../fonts/AvenirLTStd-Book.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url("../fonts/AvenirLTStd-Heavy.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Light";
  src: url("../fonts/AvenirLTStd-Light.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-HeavyOblique";
  src: url("../fonts/AvenirLTStd-HeavyOblique.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-LightOblique";
  src: url("../fonts/AvenirLTStd-LightOblique.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url("../fonts/AvenirLTStd-Medium.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-MediumOblique";
  src: url("../fonts/AvenirLTStd-MediumOblique.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Oblique";
  src: url("../fonts/AvenirLTStd-Oblique.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url("../fonts/AvenirLTStd-Roman.otf") format("truetype");
}

typeahead-container .dropdown{
  z-index: 999999 !important;
}

.dropdown[_nghost-vwe-c64] {
  z-index: 1200 !important;
}

.z-1{
 z-index: 1 !important;
}

.f-16 {
  font-size: 16px; /*Mobile-icons*/
}
.f-12 {
  font-size: 12px;
}

/* Common Styles Start from Here */
html,
body {
  height: 100%;
}

html {
  font-size: 13px;
}

body {
  @include margin(0, 0, 0, 0);
  font-family: "AvenirLTSTD-Roman", sans-serif;
  background-color: #e0e1e2;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

button {
  &:focus,
  &:active {
    outline: none !important;

    box-shadow: none !important;
  }
}

.AvenirLTStd-BlackOblique {
  font-family: "AvenirLTStd-BlackOblique", sans-serif !important;
}

.AvenirLTStd-BookOblique {
  font-family: "AvenirLTStd-BookOblique", sans-serif !important;
}

.AvenirLTStd-Book {
  font-family: "AvenirLTStd-Book", sans-serif !important;
}

.AvenirLTStd-Heavy {
  font-family: "AvenirLTStd-Heavy", sans-serif !important;
}

.AvenirLTStd-Light {
  font-family: "AvenirLTStd-Light", sans-serif !important;
}

.AvenirLTStd-HeavyOblique {
  font-family: "AvenirLTStd-HeavyOblique", sans-serif !important;
}

.AvenirLTStd-LightOblique {
  font-family: "AvenirLTStd-LightOblique", sans-serif !important;
}

.AvenirLTStd-Medium {
  font-family: "AvenirLTStd-Medium", sans-serif !important;
}

.AvenirLTStd-Oblique {
  font-family: "AvenirLTStd-Oblique", sans-serif !important;
}

.AvenirLTStd-Roman {
  font-family: "AvenirLTStd-Roman", sans-serif !important;
}

// Defined styles
.color-blue {
  color: $blue;
}
.color-green {
  color: #76bd43;
}
.bg-white {
  background: $white;
}
.f-size-20 {
  font-size: 20px;
}
.mx-w-400 {
  max-width: 400px;
}
.w-50 {
  width: 50%;
}
.w-51 {
  width: 53%;
}
.w-20 {
  width: 20px;
}

.h-26px {
  height: 26px !important;
}
.h-30 {
  height: 30px;
}
.w-200 {
  min-width: 200px;
}
.bg-green {
  background-color: $green !important;
}
.left-0 {
  left: 0;
}
.color-green {
  color: $green;
}
.bg-blue {
  background: $blue;
}
.w-130 {
  width: 130px;
}
.w-150px {
  width: 150px !important;
}
.h-50px {
  height: 50px;
}
.w-16 {
  width: 16%;
}
.w-113px {
  width: 113px !important;
}
.w-200 {
  width: 200px !important;
}
.w-88px {
  width: 88px;
}

.color-grey {
  color: #eae8f8 !important;
}
.bg-grey {
  background: #eae8f8;
}
.text-underline {
  &:hover {
    text-decoration: underline;
    color: #145194;
  }
}
.transform-90 {
  transform: rotate(-90deg);
}
.transform90 {
  transform: rotate(90deg);
}
.bg-table-green {
  background: #f7fafc;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 22px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -1px rgba(0, 0, 0, 0.12);
}
.color-white {
  color: $white !important;
}
.visibility-hidden {
  visibility: hidden;
}
.cursor-pointer {
  cursor: pointer;
}
// icons-right-left
.right-icon {
  position: absolute;
  right: 5px;
  top: 4px;
  color: #6f8ba4;
  cursor: pointer;
  z-index: 3;
}

.left-icon {
  position: absolute;
  left: 2px;
  top: 4px;
  color: #6f8ba4;
  z-index: 3;
}

.sticky-tabheader {
  position: sticky;
  top: -2px;
  background-color: #145194;
  z-index: 99;
}

.autocomplete-container .input-container input {
  height: 30px !important;
}

.autocomplete-container {
  height: 30px !important;
}

.input-group {
  .form-control {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    background-color: #eae8f8;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #6f8ba4;
    // padding-left: 28px;
    // padding-right: 30px;
    border: none;
  }

  .search-input {
    // padding-right: 30px;
    height: 30px;
  }
}

.unscheduled-worker-table {
  height: 65vh !important;
}

select {
  height: 30px;
  border: 0;
  outline: none;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  // width: 40px;
  margin: 0 8px;
}

textarea {
  margin-top: 2px;
  margin-bottom: 0px;
  width: 100%;
  background: rgb(234, 232, 248);
  border: 0px;

  // height: 67px;
  &:focus {
    border: none;
    outline: none;
  }
}

.bg-green {
  background-color: $green !important;
}

.bg-green-btn {
  background-color: $green !important;
  min-width: 75px !important;
}
.bg-danger-btn {
  background-color: #dc3545 !important;
  min-width: 75px !important;
}

.search-right {
  position: absolute;
  right: 0;
  background: #76bd43;
  height: 30px;
  /* top: 4px; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  color: #eae8f8;
}

.login-input {
  .form-control {
    &:focus {
      border: none;
      outline: none;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
      background-color: #eae8f8;
      color: #6f8ba4;
    }
    &::placeholder {
      color: #6f8ba4;
    }
  }
}

.edit-options-table-container {
  // margin-bottom: 10px;
  background: #f7fafc;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 22px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -1px rgba(0, 0, 0, 0.12);

  .edit-options-table {
    margin: 0;

    td {
      background: #f7fafc;
      padding: 0 10px;
      vertical-align: middle;
      height: 38px;
    }

    .edit-table-th {
      padding: 6px 11px;
      background: #145194;
      color: #ffff;
      white-space: nowrap;
      vertical-align: middle;
      z-index: 0;
      // border-top: 0;
    }
  }
}
#createModal,
#signout {
  z-index: 999999;
}
.logout {
  right: 20px;
}
.material-icons {
  cursor: pointer;
}

// ==================scroll styles=================

/* width & height*/
::-webkit-scrollbar {
  width: 7px !important;
  height: 7px;
}

// / Track /
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(226, 226, 226);
  border-radius: 10px;
}

// / Handle /
::-webkit-scrollbar-thumb {
  background: rgb(202, 201, 201);
  border-radius: 10px;
}

// / Handle on hover /
::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}

// ==================scroll styles=================
// .logo{
//   height: 150px;
//   width:200px;
// }

.box-shadow {
  box-shadow: 2px 2px 10px #ccc;
}

.btn-green {
  color: #fff;
  background-color: #32c5d2;
  border-color: #32c5d2;
  border: none;
  border-radius: 20px;
  min-width: 70px;
}
.btn-check {
  border-radius: 20px;
}

.bg-blue {
  color: #145194;
}

@media (max-width: 991px) {
  .edit-options-table {
    width: 120%;
  }
}
.border-right.form-input.border-bottom.w-20 {
  white-space: nowrap;
}
.white-space {
  white-space: nowrap;
}

.overlap-fix {
  position: absolute;
  width: 135px !important;
}

//  event-screen-mobile

.lh-25 {
  line-height: 21.5px;
}
.pad-y {
  padding: 4px 8px !important;
}

.filter-dropdown {
  .dropdown-menu {
    min-width: 89%;
    &.show {
      padding: 10px;
      transform: translate3d(20px, 80px, 0px) !important;
      box-shadow: 2px 2px 10px #868686;
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
}
.mobile-icon-wrapper {
  .btn-staffInfo {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 27px;
    margin: 0 auto;
  }
}

.event-info {
  background-image: linear-gradient(to right bottom, #145194, #009ba9);
}

.roaster-wrapper {
  .table-height-wrapper {
    height: 69vh;
    margin-bottom: 0;
  }
  .filter-dropdown {
    .dropdown-menu {
      min-width: 89%;
      &.show {
        padding: 10px;
        transform: translate3d(20px, 154px, 0px) !important;
        box-shadow: 2px 2px 10px #868686;
      }
    }
  }
}

.unscheduled-table-height-wrapper {
  height: 72vh;
  overflow-y: auto;
}

.unscheduled-filter-dropdown {
  .dropdown-menu {
    min-width: 89%;
    &.show {
      padding: 10px;
      transform: translate3d(20px, 111px, 0px) !important;
      box-shadow: 2px 2px 10px #868686;
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
}

.roaster-popup {
  .modal-content {
    top: 145px;
    padding: 10px;
  }
}
.un-popup{
  .modal-content {
    top: 115px;
    padding: 10px;
  }
}

.btn-signout {
  color: #fff;
  background-color: #145194;
  border-color: #145194;
  border: none;
  border-radius: 20px;
  min-width: 75px;
}

@media screen and (aspect-ratio: 568/114) and (device-aspect-ratio: 320/568), screen and (aspect-ratio: 568/320) and (device-aspect-ratio: 320/568) {

  body {padding-top:20px}

  }

  button.swal2-confirm.swal2-styled {
    border: none;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    outline: none;
    color: #fff;
    background: #dc3545!important;
}

button.swal2-cancel.swal2-styled {
    border: none;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    outline: none;
    color: #fff;
    background: #145194 !important;
}

.common-select{
  .ng-select-container{
    background: #eae8f8;
    border:0;
    outline: none;
    height: 26px !important;
    min-height: 26px;
  }
}
.common-select1{
  .ng-select-container{
    background: #eae8f8;
    border:0;
    outline: none;
    height: 30px !important;
    min-height: 26px;
  }
}
.tr-bg-green{
  background-color: #87df48 !important;
}
.tr-bg-red {
    background-color: #de01169c !important;
}
.is-invalid .ng-select-container{
  border: 1px solid #dc3545;

}

// .ng-select.ng-select-container {
//   height: 32px !important;
// }
