.listing-table-container {
  padding: 15px 50px 10px 50px;
}
.w-60{
  width: 60px;
}
.roaster-container {
  padding: 20px 50px 10px 50px;
}

.table-container {
  height: 74vh;
}

.table-inner-container {
  height: 34vh;
  overflow: auto;
}

.table-height-wrapper {
  height: 80vh;
  overflow: auto;
  margin-bottom: 10px;
}

.header-bg-new{
  background-image: linear-gradient(to right bottom, #145194, #009ba9);
}

.title-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #145194;
  color: #ffff;
  // height: 40px;
  padding: 5px 20px;
  flex-wrap: wrap;
  .input-search {
    width: 250px;
  }
}

.header_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #145194;
  color: #ffff;
  height: 40px;
  padding: 0 20px;
flex-wrap: wrap;
  .input-search {
    width: 200px;
  }
  .search-input{
    border-radius: 5px !important;
  }
}

.add-button {
  border: none;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  outline: none;
  color: $white;
  height: 28px;
}
.break-table{
  min-width: 800px;
    overflow: auto;
}
.submit-btn{
  width: 90px;
  justify-content: center;
}
// .break-container{
//   width: 991px;
//   margin: 0 auto;
// }
.positionType{
  .ng-select{
    width: 110px;
    height: 26px;
    // padding: 2px 7px;
    color: #6f8ba4;
    // background-color: #eae8f8;
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border: none;
  }
  .position-input{
    width: 110px;
    height: 26px;
    padding: 2px 7px;
    color: #6f8ba4;
    background-color: #eae8f8;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  }


}
.workerName{
  .ng-select{
    width: 250px;
    height: 26px;
    // padding: 2px 7px;
    color: #6f8ba4;
    // background-color: #eae8f8;
    border: none;
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  }
  .worker-input{
    width: 250px;
    height: 26px;
    padding: 2px 7px;
    color: #6f8ba4;
    background-color: #eae8f8;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  }
}
.ng-dropdown-panel{
  background: #ffffff;
 .ng-option {
    padding: 2px 10px;
  }
}
.btn-staffInfo{
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  margin: 0 auto;
}
@media(max-width:767px){
  
  .roaster-container,.listing-table-container {
    padding: 10px;
}
.qr-container{
  margin-top: 10px;
}


}
@media(max-width:991px){
  .title-header {
    height: auto;
    padding: 20px;
  }
  .break-container{
    width: 100%;
  }
  .roaster-container {
    padding: 10px;
}
}
@media(max-width:580px){
  .header-input{
    flex-wrap: wrap;
    .login-input{
      margin-bottom: 5px;
      .filter{
        display: none;
      }
    }
  }
  .staffing-modal{
width: 95% !important;
  }
}
