.login-container {
  height: 100vh;
  display: grid;
  place-content: center;
  background-image: linear-gradient(to right bottom, #145194, #32c5d2);

  .login-container-inner {
    width: 360px;
    // height: 272px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background: #ffffff;
    // height: 350px;
    margin: 0 auto;
  }
}

.logo-content1 {
  img {
    position: absolute;
    left: 42%;
    top: 18%;
  }
}

.logo-content2 {
  img {
    height: 90px;
    width: 131px;
    position: absolute;
    top: 2%;
    left: 45%;
  }
}

.btn-submit {
  margin: 15px 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  background-color: #145194;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border-color:  #145194;
  width: 100%;
  height: 40px;
  border: 0;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
}

.login-input-field {
  padding: 10px 0;
}

.line-divider {
}

.form-container {
  position: relative;

  // width: 60%;
  // &::before {
  //   content: "";
  //   width: 2px;
  //   // height: 61vh;
  //   // background: #e0e1e2;
  //   position: absolute;
  //   right: -27px;
  //   border-right: 2px solid #e0e1e2;
  //   height: 100%;
  // }
}

@media (max-width: 767px) {
  .qr-container {
    padding: 0 !important;
  }
  .logo-content2 img {
    height: 63px;
    width: 88px;
    position: absolute;
    top: 2%;
    left: 39%;
}


.logo-content1 img {
    position: absolute;
    left: 28%;
    top: 16%;
    height: 50px;
}

}

@media (max-width: 769px) {
 
  .logo-content2 img {
    height: 63px;
    width: 88px;
    position: absolute;
    top: 2%;
    left: 39%;
}


.logo-content1 img {
    position: absolute;
    left: 32%;
    top: 16%;
    height: 50px;
}

}

@media (min-width: 420px) and (max-width:769px){

  .logo-content2 img {
    height: 63px;
    width: 88px;
    position: absolute;
    top: 2%;
    left: 42%;
}


.logo-content1 img {
    position: absolute;
    left: 32%;
    top: 16%;
    height: 50px;
}

}

@media (max-width: 420px) {
  // .qr-container {
  //   display: none;
  // }

  .form-container {
    // &::before {
    //   right: -14px;
    //   display: none;
    // }
  }

  .login-container .login-container-inner {
    width: 100%;
  }
}

// // // LOGO HEADING PERAGRAPH START
// .view {
//     // background-image: url(src/assets/images/group-13@2x.png);
//     // overflow: hidden;
//     background-size: cover;
//     background-position: center center;
//     background-repeat: no-repeat;
//     @include size(100%, 100vh);
//     // @include size(1366px,null);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     @include padding(null, 18px, null, 18px);
// }

// @media (max-width: 768px) {
//     .view {
//         height: 1000px;
//         display: flex;
//         justify-content: center;
//     }
//     .poc-item .all-ways-caring-logo {
//         @include size(0px, 78px);
//         @include margin(0px, auto, 0px, auto);
//         // image: url(/src/assets/images/images/all-ways-caring-logo@2x.png);
//     }
//     .login-form {
//         @include margin(0px, auto, 0px, auto);
//     }
//     .form-item {
//         @include padding(0px, 0px, 0px, 0px);
//         @include margin(0px, auto, 0px, auto);
//     }
//     .customcontainer {
//         position: relative;
//         top: -30px;
//     }
// }

// @media (min-width: 800px) and (max-width: 850px) {
//     .view {
//         height: 650px;
//     }
// }

// .poc-item {
//     // @include padding(null, null, null, 53px);
//     .all-ways-caring-logo {
//         @include size(393px, 78px);
//     }
//     .welcome-heading-wrapper {
//         @include padding(30px, null, null, null);
//         h3 {
//             @include size(100%, 30%);
//             font-size: 34px;
//             font-weight: 500;
//             color: $login-text;
//             font-stretch: normal;
//             font-style: normal;
//             letter-spacing: normal;
//             line-height: 1.2;
//         }
//     }
//     .peragraph {
//         @include margin(4px, null, null, null);
//         p {
//             @include size(98%, 89%);
//             color: $login-text;
//             font-size: 16px;
//             font-weight: normal;
//             font-stretch: normal;
//             font-style: normal;
//             letter-spacing: normal;
//         }
//     }
// }

// // LOGO HEADING PERAGRAPH END
// // LOGIG FORM START FROM HERE
// .form-item {
//     .global-container {
//         @include size(null, 400px);
//     }
//     form {
//         @include padding(10px, null, null, null);
//         font-size: 14px;
//         @include margin(30px, null, null, null);
//         #exampleInputEmail {
//             @include border-radius(null, 8px, null, 8px);
//             height: 35px;
//             @include padding(null, 0px, null, 15px);
//             @include margin(0px, null, 0px, null);
//             &:hover {
//                 background-color: $button-background-color;
//             }
//         }
//         #exampleInputPassword {
//             @include border-radius(null, 8px, null, 8px);
//             height: 35px;
//             @include padding(null, 0px, null, 15px);
//             @include margin(null, null, 25px, null);
//             &:hover {
//                 background-color: $button-background-color;
//             }
//         }
//         .massage {
//             position: absolute;
//             bottom: -25px;
//         }
//         .field-icon {
//             float: right;
//             @include margin(-46px, 10px, null, null);
//             position: relative;
//             // z-index: 2;
//         }
//     }
//     .card-title {
//         @include size(null, 24px);
//         font-size: 24px;
//         font-weight: 900;
//         font-stretch: normal;
//         font-style: normal;
//         line-height: 1.5;
//         letter-spacing: normal;
//         text-align: left;
//         color: $blue;
//         @include padding(22px, 13px, 22px, 13px);
//     }
//     // .btn {
//     //   font-size: 14px;
//     //   // @include margin(20px, null, null, null);
//     //   color: $white;
//     //   background-color: $button;
//     //   @include border-radius(null, 8px, null, 8px);
//     // }
//     .login-form {
//         min-width: 300px;

//     }
//     .setting-icon {
//         @include margin(8px, null, 14px, null);
//         i {
//             @include size(24px, 24px);
//             opacity: 0.8;
//             position: absolute;
//             right: 5%;
//             color: $setting-icon;
//         }
//     }
//     .detail-wrapper {
//         text-align: center;
//         position: absolute;
//         bottom: 5%;
//         @include margin(0px, auto, 0px, auto);
//         @include padding(0px, 15px, 0px, 15px);
//         color: $bottom-text;
//         font-size: 14px;
//     }
// }

// .btn-login{

//         font-size: 14px;
//         color: #fff;
//         background-color: #76bd43;
//         border-top-right-radius: 8px;
//         border-bottom-left-radius: 8px;
//         -webkit-border-top-right-radius: 8px;
//         -webkit-border-bottom-left-radius: 8px;
//         -moz-border-radius-topright: 8px;
//         -moz-border-radius-bottomleft: 8px;
//     &:hover{
//         color: #ffffffff;
//     }
// }
// .login-form{
//         padding-top: 10px;
//         font-size: 14px;
//         margin-top: 30px;

// }
// // LOGIG FORM END HERE

// .form-group {
//     margin-bottom: 2rem !important;
// }

// .view {
// background-image: url(src/assets/images/group-13@2x.png);
// // overflow: hidden;
// background-size: cover;
// background-position: center center;
// background-repeat: no-repeat;
// @include size(100%, 100vh);
// // @include size(1366px,null);
// display: flex;
// align-items: center;
// justify-content: center;
// @include padding(null, 18px, null, 18px);

// }
// @media (max-width: 768px) {

// .view {
// height: 1000px;
// display: flex;
// justify-content: center;
// }
// // .poc-item{
// // @include margin(0px, auto, 0px, auto);
// // }
// .poc-item .all-ways-caring-logo {
// @include size(0px, 78px);
// @include margin(0px, auto, 0px, auto);
// }
// .login-form{
// @include margin(0px, auto, 0px, auto);
// }
// .form-item{
// @include padding(0px, 0px, 0px, 0px);
// @include margin(0px, auto, 0px, auto);
// }
// }
// @media (min-width: 800px) and (max-width: 850px) {

// .view {
// height: 650px;
// }
// }

// .poc-item{
// // @include padding(null, null, null, 53px);
// .all-ways-caring-logo {
// @include size(393px, 78px);
// }
// .welcome-heading-wrapper{
// @include padding(30px, null, null, null);
// h3 {
// @include size(100%, 30%);
// font-size: 34px;
// font-weight: 500;
// color: $login-text;
// font-stretch: normal;
// font-style: normal;
// letter-spacing: normal;
// line-height: 1.2;
// }
// }
// .peragraph {
// @include margin(4px, null, null, null);
// p {
// @include size(98%, 89%);
// color: $login-text;
// font-size: 16px;
// font-weight: normal;
// font-stretch: normal;
// font-style: normal;
// letter-spacing: normal;
// }
// }
// }

// CONFIG FORM START FROM HERE
// .form-item {
//   .global-wrapper {
//     @include size(null, 400px);
//   }

//   form {
//     @include padding(10px, null, null, null);
//     font-size: 14px;

//     // @include margin(30px, null, null, null);
//     #exampleInputEmail {
//       @include border-radius(null, 8px, null, 8px);
//       height: 35px;
//       @include padding(null, 0px, null, 15px);
//       @include margin(25px, null, 25px, null);

//       &:hover {
//         background-color: $button-background-color;
//       }
//     }

//     .url-btn-wrapper {
//       p {
//         text-align: center;
//         color: $bottom-text;
//         @include margin(40px, null, 8px, null);
//       }

//       button {
//         background-color: $test-button;
//         width: 160px;
//         @include size(160px, null);
//         // height: 45px;
//         @include padding(8px, null, 8px, null);
//         box-shadow: 0px 2px 3px 0 rgba(28, 29, 29, 0.18);
//         @include margin(0px, auto, null, auto);
//       }
//     }

//     .field-icon {
//       float: right;
//       @include margin(-46px, 10px, null, null);
//       position: relative;
//       // z-index: 2;
//     }
//   }

//   .card-title {
//     @include size(null, 24px);
//     font-size: 24px;
//     font-weight: 900;
//     font-stretch: normal;
//     font-style: normal;
//     line-height: 1.5;
//     letter-spacing: normal;
//     text-align: left;
//     color: $blue;
//     @include padding(22px, 13px, 22px, 13px);
//   }

//   .btn {
//     font-size: 14px;
//     color: $white;
//     background-color: $button;
//     @include border-radius(null, 8px, null, 8px);
//   }

//   .login-form {
//     @include size(330px, 100%);
//   }

//   .setting-icon {
//     @include margin(8px, null, 14px, null);

//     i {
//       @include size(24px, 24px);
//       opacity: 0.8;
//       position: absolute;
//       right: 5%;
//       color: $setting-icon;
//     }
//   }

//   .detail-wrapper {
//     text-align: center;
//     position: absolute;
//     bottom: 5%;
//     @include margin(0px, auto, 0px, auto);
//     @include padding(0px, 15px, 0px, 15px);
//     color: $bottom-text;
//     font-size: 14px;
//   }
// }

// // CONFIG FORM END

// .login-btn {
//   font-size: 14px;
//   color: white;
//   background-color: $button;
//   @include border-radius(null, 8px, null, 8px);
// }

// // // LOGO HEADING PERAGRAPH START
// .view {
//   // background-image: url(src/assets/images/group-13@2x.png);
//   // overflow: hidden;
//   background-size: cover;
//   background-position: center center;
//   background-repeat: no-repeat;
//   @include size(100%, 100vh);
//   // @include size(1366px,null);
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   @include padding(null, 18px, null, 18px);
// }

// .all-ways-caring-logo {
//   @include size(350px, 78px);
// }

// .page-wrapper {
//   background: linear-gradient(to bottom, #ab0b51, #2d1664);

//   .login-wrapper {
//     @include size(null, 100vh);

//     .login-inner-wrapper {
//       width: 95%;
//     }
//   }
// }

// .welcome-heading-wrapper {
//   h3 {
//     text-align: left;
//     font-size: 34px;
//   }
// }

// .login-btn {
//   @include padding(10px, null, 10px, null);
// }

// @media (max-width: 768px) {
//   .view {
//     height: 1000px;
//     display: flex;
//     justify-content: center;
//   }

//   .poc-item .all-ways-caring-logo {
//     @include size(0px, 78px);
//     @include margin(0px, auto, 0px, auto);
//     // image: url(/src/assets/images/images/all-ways-caring-logo@2x.png);
//   }

//   .login-form {
//     @include margin(0px, auto, 0px, auto);
//   }

//   .form-item {
//     @include padding(0px, 0px, 0px, 0px);
//     @include margin(0px, auto, 0px, auto);
//   }

//   .customcontainer {
//     position: relative;
//     top: -30px;
//   }

//   .welcome-heading-wrapper {
//     h3 {
//       text-align: center;
//       font-size: 25px;
//     }

//     .all-ways-caring-logo {
//       text-align: center;
//     }
//   }
// }

// @media (min-width: 800px) and (max-width: 850px) {
//   .view {
//     height: 650px;
//   }
// }

// .login-inner-wrapper {
//   .welcome-heading-wrapper {
//     @include padding(15px, null, null, null);

//     h3 {
//       @include size(100%, 30%);
//       font-weight: 500;
//       color: $login-text;
//       font-stretch: normal;
//       font-style: normal;
//       letter-spacing: normal;
//       line-height: 1.2;
//     }
//   }

//   .peragraph {
//     @include margin(4px, null, null, null);

//     p {
//       @include size(98%, 89%);
//       color: $login-text;
//       font-size: 16px;
//       font-weight: normal;
//       font-stretch: normal;
//       font-style: normal;
//       letter-spacing: normal;
//     }
//   }
// }

// // LOGO HEADING PERAGRAPH END
// // LOGIG FORM START FROM HERE
// .form-item {
//   .global-container {
//     @include size(null, 400px);
//   }

//   form {
//     @include padding(10px, null, null, null);
//     font-size: 14px;
//     @include margin(null, null, null, null);

//     #exampleInputEmail {
//       @include border-radius(null, 8px, null, 8px);
//       height: 35px;
//       @include padding(null, 0px, null, 15px);
//       @include margin(0px, null, 15px, null);

//       &:hover {
//         background-color: $button-background-color;
//       }
//       &:focus{
//         outline: none;
//       }
//     }
// #exampleInputId{
//   @include border-radius(null, 8px, null, 8px);
//   height: 35px;
//   @include padding(null, 0px, null, 15px);
//   @include margin(0px, null, 15px, null);

//   &:hover {
//     background-color: $button-background-color;
//   }
//   &:focus{
//     outline: none;
//   }
// }
//     #exampleInputPassword {
//       @include border-radius(null, 8px, null, 8px);
//       height: 35px;
//       @include padding(null, 0px, null, 15px);
//       @include margin(null, null, 15px, null);

//       &:hover {
//         background-color: $button-background-color;
//       }
//       &:focus{
//         outline: none;
//       }
//     }

//     .massage {
//       position: relative;
//       bottom: 20px;
//     }

//     .field-icon {
//       float: right;
//       margin-top: -38px;
//       margin-right: 10px;
//       position: relative;
//       // z-index: 2;
//     }
//   }

//   .card-title {
//     @include size(null, 24px);
//     font-size: 24px;
//     font-weight: 900;
//     font-stretch: normal;
//     font-style: normal;
//     line-height: 1.5;
//     letter-spacing: normal;
//     text-align: left;
//     color: #1a5092;
//     @include padding(22px, 13px, 22px, 13px);
//   }

//   .login-form {

//     width: 400px;
//   }

//   .setting-icon {
//     @include margin(8px, null, 14px, null);

//     i {
//       @include size(24px, 24px);
//       opacity: 0.8;
//       position: absolute;
//       right: 5%;
//       color: $setting-icon;
//     }
//   }

//   .detail-wrapper {
//     text-align: center;
//     position: absolute;
//     bottom: 5%;
//     @include margin(0px, auto, 0px, auto);
//     @include padding(0px, 15px, 0px, 15px);
//     color: $bottom-text;
//     font-size: 14px;
//   }
// }

// // LOGIG FORM END HERE

// .aa {
//   // width: 100%;
//   // height: 100%;
//   transition: transform 0.6s;
//   transform-style: preserve-3d;
//   cursor: pointer;
//   position: relative;
// }

// .aa.is-flipped {
//   transform: rotateY(180deg);
// }

// .aa.ab.is-flipped {

//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
//   // transition: transform 2s;
//   visibility: visible;
// }

// .card__face {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   // line-height: 260px;
//   color: white;
//   text-align: center;
//   font-weight: bold;
//   font-size: 40px;
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
// }

// // .card__face--back {
// //   background: $white;
// //   transform: rotateY(180deg);
// // }
// .ab {
//   // width: 100px;
//   // float: right;
//   position: absolute;
//   width: 100%;
//   // height: 100%;
//   // line-height: 260px;
//   color: white;
//   // text-align: center;
//   font-weight: bold;
//   // font-size: 40px;
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
//   transform: rotateY(180deg);
//   top: 0;
//   z-index: 9999999;
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
//   padding: 20px;
// }
// .back-btn{
//   width: 50px;
//   // background: red;
//   height: 30px;
//   font-size: 15px;
//   text-align: center;
// }
// .aa.is-flipped .form-item {
//   visibility: hidden;
// }

// .aa .ab {
//   visibility: hidden;
// }

// .aa.is-flipped .ab {
//   visibility: visible;
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
// }
