.modal {
  .unschedule-worker-modal-container {
    max-width: 95% !important;
  }

  .modal-container {
    max-width: 350px;
    margin: 0 auto;

    .modal-content {
      .modal-header {
        background-color: #145194;
        padding: 10px 10px;
        color: #fff !important;
        // text-align: center;
        position: relative;
        // justify-content: center;

        .modal-title-content {
          margin: 0;
          font-size: 20px;
          font-weight: 900;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.09;
          letter-spacing: normal;
        }

        .close-button {
          position: absolute;
          top: 0;
          right: 0;
        }

      }

      .modal-body-container {
        padding: 10px 20px;

        .input-section {
          // max-width: 420px;
          margin: 10px 0px;
          height: 45px;
        }

        .close-button {
          padding: 10px 0;

          .btn-inner {
            background: none;
            width: 100%;
            height: 35px;
            background-color:#145194;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: normal;
            color: #ffffff;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
          }

        }

      }

    }
  }
}
.staffing-modal{
max-width: 785px !important;
margin: 0 auto;
}
.w-90{
  width: 90px !important;
}
.h-65{
  height: 60vh;
  overflow: auto;
}
.search-filter{
  color: #6f8ba4;
}
.icon{
  width: 25px;
}
.staffing-table-container{
  height: 60vh;
  td{
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;
  }
}
@media(max-width:991px){
    .modal .unschedule-worker-modal-container {
      max-width: 95% !important;
  }
  }
  @media(max-width:420px){
    .modal .modal-container {
      max-width: 95%;
    }
  }
