
.pagination-wrapper {
    // @include padding(0px, 3.3125rem, 0px, 3.3125rem);
    @include margin(3rem, 1rem, 0rem, 0rem);
    display: flex;
    overflow-x: auto;
  flex-wrap: wrap;
    // position: fixed;
    // bottom: 2px;
    // height: 50px;
    // ul{
    .page-item {
      h3 {
        font-size: 14px;
        font-weight: normal;
        @include padding(0.6rem, 1rem, 0rem, 1rem);
      }
  
      #dropdown-button {
        background-color: $white;
        border: solid 1px #cbcbcb;
  
        #btn {
          // @include size(3.75rem, 2.1875rem);
          border-radius: 0.125rem;
          font-size: 14px;
          // background-color:$white;
          @include margin(0.2rem, 1rem, 0rem, 0rem);
          @include padding(0rem, 0.5rem, 0rem, 0.5rem);
          text-align: center;
        }
      }
  
      .common-table-btn {
        @include size(5.75rem, 2.1875rem);
  
        &:hover {
          color: $white;
        }
      }
  
      .prev-btn {
        @include size(5.75rem, 2.1875rem);
        background-color: #cbcbcb;
        @include border-radius(null, 8px, null, 8px);
        @include margin(0rem, 0rem, 0rem, 1rem);
        color: #808080;
      }
  
      .next-btn {
        @include size(5.75rem, 2.1875rem);
        background-color: $green;
        @include border-radius(null, 8px, null, 8px);
        @include margin(0rem, 0rem, 0rem, 1rem);
        color: $white;
      }
    }
  
    // PAGINATION WRAPPER END HERE
    .reset-button {
      min-width: 60px;
      font-size: 13px;
      font-weight: 500;
      color: #fff;
      background-color: #76bd43;
      border: none;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      -webkit-border-top-right-radius: 8px;
      -webkit-border-bottom-left-radius: 8px;
      -moz-border-radius-topright: 8px;
      -moz-border-radius-bottomleft: 8px;
      margin-right: 8px;
      padding-top: 3px;
      padding-right: 8px;
      padding-bottom: 3px;
      padding-left: 8px;
    }
  }
  