<div  class="text-white event-info px-3 py-1 mx-3 mt-1 rounded f-12 text-center">
  <div class="d-flex justify-content-center">
    <p class="m-0 strong">Event # {{eventDetails.cisNumber}} &nbsp;- </p>
    <p class="m-0 strong"> &nbsp; {{eventDetails.companyName|slice:0:18 }}{{ eventDetails.companyName.length>18?'...':'' }}   </p>
  </div>

  <div class="d-flex justify-content-center">
      <p class="m-0 strong">{{eventDetails.eventDate}} &nbsp; - &nbsp;</p>
     <p class="m-0 strong"> {{eventDetails.eventBeginTime}} To {{eventDetails.eventEndTime}}   </p>
  </div>
</div>
