<div class="bg-blue px-2 py-2 text-white d-flex align-items-center justify-content-between header-bg-new">
    <div class="logo-div">
        <img src="assets/images/CaterXpert-01.png" alt="Logo"
            style="height: 30px;">
    </div>
    <h4 class="text-white text-center ml-n3 mb-0">Supervisor Sign In</h4>
    <div class="color-white h-100 d-flex align-items-center justify-content-center cursor-pointer logout"><span (click)="home()" class="material-icons pr-3"> home </span><span (click)="logOutUser()" _ngcontent-jra-c19="" class="material-icons"> login </span></div>
</div>
