<!-- <p>listing works!</p> -->
<app-header></app-header>
<div class="listing-table-container">
    <div class="title-header">
        <h4 class="m-0 AvenirLTStd-Heavy    ">Event List
        </h4>
        <div class="d-flex align-items-center justify-content-between header-input">
            <div class="input-group  login-input pl-2 align-items-center w-150px">
                <span class="mr-2 filter">
                    <i class="fas fa-filter"></i>
                </span>
                <input class="form-control "[tooltip]="'CIS Number'" type="text" [(ngModel)]="cisNumber" placeholder="CIS Number">

            </div>
            <div class="input-group  login-input pl-2 w-113px">
                <input class="form-control " [tooltip]="'Start Date'" type="text" bsDatepicker readonly [maxDate]="endDate"
                     [(ngModel)]="startDate" placeholder="Start Date">

            </div>
            <div class="input-group  login-input pl-2 w-113px">
                <input class="form-control " [tooltip]="'End Date'" bsDatepicker readonly [(ngModel)]="endDate"
                    type="text" placeholder="End Date">

            </div>
            <button class="btn bg-green add-button ml-2 color-white d-flex align-items-center" (click)="applyfilter()"
                type="button "><span class="material-icons mr-1">search</span></button>
        </div>

    </div>
    <div class="table-responsive edit-options-table-container table-container">

        <table class="edit-options-table table">
            <thead>
                <tr>
                    <th scope="col" class="sticky-top edit-table-th">Event #</th>
                    <th scope="col" class="sticky-top edit-table-th">Event Date</th>
                    <th scope="col" class="sticky-top edit-table-th">
                        Customer Name
                    </th>
                    <th scope="col" class="sticky-top edit-table-th">
                        Begin
                        Time

                    </th>
                    <th scope="col" class="sticky-top edit-table-th">
                        End Time

                    </th>
                    <th scope="col" class="sticky-top edit-table-th">
                        # of Workers

                    </th>
                    <th scope="col" class="sticky-top edit-table-th">
                        SI #


                    </th>
                    <th scope="col" class="sticky-top edit-table-th">
                        SO#

                    </th>
                    <th scope="col" class="sticky-top edit-table-th">
                        Staffing Info

                    </th>
                    <th scope="col" class="sticky-top edit-table-th">
                        Roster

                    </th>



                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of eventList;let i=index" >
                    <td [ngClass]="event.bgColor"   class="border-right form-input border-bottom">
                        {{event.cisNumber}}
                    </td>
                    <td [ngClass]="event.bgColor"  class="border-right form-input border-bottom">
                        {{event.eventDate}}
                    </td>
                    <td [ngClass]="event.bgColor"  class="form-input border-right  border-bottom">
                        {{event.companyName}}
                    </td>
                    <td [ngClass]="event.bgColor"  class="border-right form-input border-bottom">
                        {{event.eventBeginTime}}
                    </td>
                    <td [ngClass]="event.bgColor"  class="border-right form-input border-bottom">
                        {{event.eventEndTime}}
                    </td>
                    <td [ngClass]="event.bgColor"  class="form-input border-right border-bottom w-20 text-right">
                        {{event.noOfWorkers}}
                    </td>
                    <td [ngClass]="event.bgColor"  class="border-right form-input border-bottom w-20 text-right">
                        {{event.signInCount}}
                    </td>
                    <td [ngClass]="event.bgColor"  class="form-input  border-bottom border-right w-20 text-right">
                        {{event.signOutCount}}
                    </td>
                    <td [ngClass]="event.bgColor" class="border-right form-input border-bottom w-20">
                        <!-- Button -->
                        <button type="button" class="btn-green btn-staffInfo" data-toggle="modal"
                            data-target="#staffinfo" (click)="getEventStaffingInfo(event.eventid,event)"><i
                            class="fas fa-info-circle f-16"></i></button>
                    </td>
                    <td [ngClass]="event.bgColor" class=" form-input border-bottom w-20">
                        <!-- Button -->
                        <button type="button" (click)="roster(event.eventid,event)"
                            class="btn-green btn-staffInfo"><i class="fas fa-list-ul"></i></button>
                    </td>

                </tr>

            </tbody>

        </table>
        <div *ngIf="eventList.length==0" class="w-100">
            <h3 class="AvenirLTStd-Heavy mt-3 text-center">No Data to Display</h3>
        </div>
    </div>

    <!-- <div class="pagination-wrapper  justify-content-lg-end d-flex mt-1">
        <div class="pagination justify-content-end pagination-button mt-2">
            <div class="page-item "><button _ngcontent-lli-c176="" type="button"
                    class="btn common-table-btn reset-button ">Refresh</button>

            </div>
            <div class="page-item">
                <h3>Per page</h3>
            </div>
            <select class="bg-white border-0 outline-0">
                <option class="ng-star-inserted">10
                </option>
                <option class="ng-star-inserted">20
                </option>

            </select>
            <div class="page-item">
                <h3>Showing 1 to 20 of 171</h3>
            </div>

        </div>
    </div> -->
</div>

<!-- modal staffing info -->
<div class="modal fade p-0" id="staffinfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true" *ngIf="eventDetails">
    <div class="modal-dialog modal-container staffing-modal modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue text-center color-white justify-content-between">
                <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-center" id="exampleModalLongTitle">
                    <span class="circle"></span>Staffing Info</h5>
                <div class="d-flex align-items-center">
                    <div class="d-flex mr-5">
                        <p class="m-0 strong">&nbsp;Event # {{eventDetails.cisNumber}} &nbsp; - &nbsp;</p>
                <p class="m-0 strong">&nbsp;  {{eventDetails.companyName}} &nbsp; - &nbsp; </p>
                <p class="m-0 strong">&nbsp; {{eventDetails.eventDate}} &nbsp; - &nbsp;</p>
                <p class="m-0 strong">&nbsp; {{eventDetails.eventBeginTime}} To {{eventDetails.eventEndTime}}</p>
                    </div>
                    <button type="button" class="close m-0 close-button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="color-white">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body modal-body-container">
                <div class="table-responsive staffing-table-container">
                    <table class=" table mb-0">

                        <tbody>
                            <tr *ngFor="let staff of staffingInfo;let i=index">
                                <td class="border-right form-input border-bottom border-left">
                                    {{staff.label}}
                                </td>
                                <td class="border-right form-input border-bottom">
                                    {{staff.value}}
                                </td>

                            </tr>


                        </tbody>
                    </table>
                    <div *ngIf="staffingInfo.length==0" class="w-100">
                      <h3 class="AvenirLTStd-Heavy mt-3 text-center">No Data to Display</h3>
                  </div>
                </div>
                <div class="close-button d-flex justify-content-center">
                    <button type="submit" class="btn btn-inner bg-danger w-90" data-dismiss="modal"
                        (click)="staffingInfo=[]">Close</button>
                    <!-- <button type="submit" class="btn btn-inner bg-green" data-dismiss="modal">Save</button> -->

                </div>
            </div>

        </div>
    </div>
</div>
