<app-mobile-header></app-mobile-header>
<app-event-info></app-event-info>


<div class="px-3">
  <div class="d-flex justify-content-between bg-blue mt-1">
    <div class="d-flex justify-content-between align-items-center px-3  text-white">
      <h5 class="text-white py-2 mb-0">Unscheduled Worker</h5>
    </div>

    <div class="unscheduled-filter-dropdown">
    <button class="btn text-white dropdown-toggle" type="button" (click)="openFliter(filter)">
        <i class="fas fa-filter"></i>
      </button>
      <ng-template #filter class="dropdown-menu ">
        <div class="drop-down-content">
          <input  *ngIf="this.eventDetails.nonEventFlag==1" [(ngModel)]="eventDate" type="text" class="form-control mb-3"  bsDatepicker placeholder="Event Date">
          <input class="form-control search-input mb-3" type="text" [(ngModel)]="workerNameUnscheduled"
            placeholder="Worker Name">
          <!-- <input type="text" class="form-control mb-3" placeholder="11/24/2020"> -->
          <ng-select class="w-100" placeholder="Position Type" disbled [items]="personnelTypesList" [multiple]="false" bindLabel='code'
            bindValue='id' [(ngModel)]="positionTypeIdunScheduled"></ng-select>

          <button (click)="applyFilter()"
            class="btn bg-green add-button ml-2 mb-2 color-white d-flex align-items-center justify-content-end mt-2 float-right">
            Search
            <span _ngcontent-gsf-c92="" class="material-icons mr-1">search</span>
          </button>
        </div>
      </ng-template>
    </div>
  </div>


  <div class="unscheduled-table-height-wrapper" [ngStyle]="{'height':windowHeight}">

    <table class="table box-shadow table-striped">
      <!-- <thead class="bg-blue align-middle text-white">
        <tr>
          <th class="sticky-tabheader"></th>
          <th scope="col" class="sticky-tabheader">
            <span>Position Type</span><br>
            <span>Worker Name</span><br>
          </th>

          <th scope="col" class="sticky-tabheader">
            <span>Sign In</span><br>
            <span>Sign Out</span><br>
            <span>Break #</span><br>
          </th>
        </tr>
      </thead> -->

      <tbody class="bg-white">
        <tr *ngFor="let worker of unscheduledWorkerList;let i=index">

          <td class="border-right form-input border-bottom position-relative text-danger cursor-pointer w-20"><span
            (click)="deleteUnscheduledWorker(i)"  title="Delete" class="material-icons"> delete </span></td>

          <td>

            <span *ngIf="worker.stagingId!=null">{{worker.personnelTypeCode}}</span> <br>
            <ng-select [class.is-invalid]="worker.personnelTypeId==null && formError" *ngIf="worker.stagingId ==null" class="w-100" disbled [items]="personnelTypesList"
              bindLabel='code' bindValue='id' [(ngModel)]="unscheduledWorkerList[i].personnelTypeId">
            </ng-select>
            <span *ngIf="worker.stagingId!=null">{{worker.resourceName}}</span>

            <!-- <input *ngIf="worker.stagingId!=null" class="form-control search-input h-26px worker-input"
                    readonly value={{worker.resourceName}} type="text"> -->
            <ng-select [class.is-invalid]="worker.resourceId==null && formError" *ngIf="worker.stagingId==null"  class="w-100" disbled [items]="workerList"
              bindLabel='resourceName' bindValue='resourceId' [(ngModel)]="unscheduledWorkerList[i].resourceId">
            </ng-select>

          </td>
          <td>

            <div class="d-flex justify-content-end">
              <button *ngIf="worker.actCallIn.length==0&&worker.stagingId!==null" type="button" class="btn-green"
              (click)="signInFlagUnscheduled(unscheduledtemplate,i,'signin')">Sign
              In</button>
            </div>

            <span *ngIf="worker.actCallIn.length>0" >
              In: <span (click)="signInFlagUnscheduled(unscheduledtemplate,i,'signin')" class="float-right"> {{worker.actCallIn|date:('h:mm a')}} </span>  </span><br>

            <div class="d-flex justify-content-end">
              <button *ngIf="worker.actCallOut.length==0&&worker.stagingId!==null&&worker.actCallIn.length>0" type="button" class="btn-signout"
                (click)="signInFlagUnscheduled(unscheduledtemplate,i,'signout')">Sign
                Out</button>
            </div>

            <span *ngIf="worker.actCallOut.length>0"
              > Out: <span (click)="signInFlagUnscheduled(unscheduledtemplate,i,'signout')"class="float-right"> {{worker.actCallOut|date:('h:mm a')}} </span>
            </span>

            <div class="d-flex justify-content-end">
              <button
            *ngIf="worker.breakvalue=='end'&&worker.stagingId!==null&&worker.actCallIn.length!=0&&worker.actCallOut.length==0"
            (click)="unschedulebreak('end',worker.breakTaken,i)" type="button"
            class="btn-green bg-danger-btn mt-1">End</button>
          <button
            *ngIf="worker.breakvalue=='start'&&worker.stagingId!==null&&worker.actCallIn.length!=0&&worker.actCallOut.length==0"
            (click)="unschedulebreak('start',worker.breakTaken,i)" type="button"
            class="btn-green bg-green-btn mt-2">Start</button>
          {{worker.breakvalue=='complete'?'Completed':''}}
            </div>
            <div *ngIf="worker.approveFlag==0" class="mt-2 float-right">
              <button (click)="approveUnscheduledWorker(worker)"  type="button" class="btn-green float-right mb-1 ">Approve</button>

            </div>
          </td>
          <td class="align-bottom">
            <span *ngIf="worker.breakTaken!=0" (click)="breaksummary(worker.stagingId)">{{worker.breakTaken}}</span>
          </td>




        </tr>
      </tbody>
    </table>
    <div *ngIf="unscheduledWorkerList.length==0" class="w-100 text-center">
      <h3 class="AvenirLTStd-Heavy "> No Data to Display</h3>
    </div>

  </div>



  <div class="pagination-wrapper  justify-content-between d-flex mt-2">
    <button type="button" class="d-flex align-items-center bg-danger add-button " (click)="navigate()"
      ><span class="material-icons mr-2">
        close
      </span> Close</button>

    <button (click)="saveUnscheduledWorkerToStaging()" type="button" class="d-flex align-items-center bg-green add-button "><span class="material-icons mr-2">
        person
      </span>Save</button>
    <button  (click)="addUnschedule()"type="button" class="d-flex align-items-center bg-blue add-button "><span class="material-icons mr-2">
        person_add
      </span> Add</button>


  </div>












  <!-- <div class="">
    <table class="table box-shadow ">
        <tbody class="bg-white">
            <tr *ngFor="let event of eventList;let i=index">
                <td class="lh-25 pad-y align-middle">
                    45298<br>
                    1stAveMachine<br>
                    November 25, 2020<br>
                    1:00 AM - 1:00 PM<br>
                </td>
                <td class="align-middle pad-y">
                    Total:<span class="float-right">999</span> <br>
                    Signed In:<span class="float-right">999</span><br>
                    Signed Out:<span class="float-right">999</span><br>
                </td>
                <td class="mobile-icon-wrapper pad-y">
                    <button (click)="getEventStaffingInfo(event.eventid,event)" _ngcontent-qag-c92="" type="button"
                        data-toggle="modal" data-target="#staffinfo" class="btn-green btn-staffInfo mb-2"><i
                            class="fas fa-info-circle f-16"></i></button>
                    <button (click)="roster(event.eventid,event)" _ngcontent-xaa-c92="" type="button"
                        class="btn-green btn-staffInfo mb-2 f-16"> <i class="fas fa-list-ul"></i> </button>
                    <button (click)="getEventQRCode(event.eventid,qrc)" _ngcontent-xaa-c92="" type="button"
                        class="btn-green btn-staffInfo f-16"><i class="fas fa-qrcode"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="eventList.length==0" class="w-100">
        <h3 class="AvenirLTStd-Heavy mt-3 text-center">No Data to Display</h3>
    </div>
</div> -->
</div>




<ng-template #unscheduledtemplate>
  <!-- <div class="modal fade p-0" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
aria-hidden="true"> -->
  <!-- <div class="modal-dialog modal-container modal-dialog-centered" role="document">
      <div class="modal-content"> -->
  <div class="modal-header">
    <h5 class="modal-title modal-title-content AvenirLTStd-Heavy" id="exampleModalLongTitle"><span
        class="circle"></span>{{popupType=="signin"?'Sign In':'Sign Out'}} - {{popupTitle}}</h5>
    <button type="button" class="close m-0 close-button text-white" (click)="bsmodelRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-body-container">
    <div class="pb-2">
      <label>Date</label>
      <div class="input-group input-search login-input">
        <input class="form-control search-input" type="text" readonly bsDatepicker [(ngModel)]="popUpDate"
          placeholder="mm/dd/yyyy">
        <span class="material-icons right-icon">today</span>
      </div>
    </div>
    <div class="pb-2">
      <label>Time</label>
      <div class="d-flex">
        <select [(ngModel)]="popUpHours" class="ml-0 pl-0">
          <option [value]='01'>01</option>
          <option [value]='02'>02</option>
          <option [value]='03'>03</option>
          <option [value]='04'>04</option>
          <option [value]='05'>05</option>
          <option [value]='06'>06</option>
          <option [value]='07'>07</option>
          <option [value]='08'>08</option>
          <option [value]='09'>09</option>
          <option [value]='10'>10</option>
          <option [value]='11'>11</option>
          <option [value]='12'>12</option>
        </select>
        <select [(ngModel)]="popUpminutes">
          <option *ngFor="let minute of minutesArray;let i=index" [value]='i'>{{i}}</option>
        </select>
        <select [(ngModel)]="popUpMeridian">

          <option [value]='"AM"'>AM</option>
          <option [value]='"PM"'>PM</option>
        </select>
      </div>

    </div>
    <div class="close-button d-flex">
      <button type="submit" class="btn btn-inner mr-5 bg-danger" (click)="bsmodelRef.hide()">Cancel</button>
      <button type="submit" class="btn btn-inner bg-blue"
        (click)="saveToSignInStagingUnscheduled(popupIndex,popupType,true)">Save</button>
    </div>
  </div>

  <!-- </div>
  </div> -->
  <!-- </div> -->
</ng-template>
