.w-180px{
    width: 180px !important;
}
.roster{
    padding: 20px 10px 10px 10px;
    // @include padding(20px,10px,10px,10px);
}
.qr-container-inner{
    width: 65%;
    // height: 240px;
    margin: 0 auto;
}

.is-invalid .ng-select-container{
  border: 1px solid red;

}
