<app-header></app-header>

<div class=" roaster-container roster">
  <div class="title-header align-items-center">
    <h4 class="m-0 AvenirLTStd-Heavy">Roster</h4>


    <div class="d-flex align-items-center nav header-input">
      <div class="d-flex justify-content-end">
        <p class="m-0 strong">&nbsp;Event # {{eventDetails.cisNumber}} &nbsp; &nbsp;</p>
        <p class="m-0 strong">&nbsp; {{eventDetails.companyName}} &nbsp; &nbsp; </p>
        <p class="m-0 strong">&nbsp; {{eventDetails.eventDate}} &nbsp; &nbsp;</p>
        <p class="m-0 strong">&nbsp; {{eventDetails.eventBeginTime}} To {{eventDetails.eventEndTime}}</p>
      </div>

      <select [(ngModel)]="mode" class=" border-0 outline-0 bg-grey search-filter ">
        <option [value]="1" class="bg-white">All</option>
        <option [value]="2" class="bg-white">Sign In</option>
        <option [value]="3" class="bg-white">Sign Out</option>
      </select>
      <div *ngIf="this.eventDetails.nonEventFlag==1" class="input-group  login-input   w-113px">
        <input [tooltip]="'Event Date'" class="form-control " type="text" [(ngModel)]="eventDate" bsDatepicker readonly placeholder="Event Date"
          [bsConfig]="{ adaptivePosition: true }">
      </div>
      <div class="input-group input-search login-input w-180px pl-2">
        <input class="form-control search-input " [tooltip]="'Worker Name'" type="text" placeholder="Worker Name" [(ngModel)]="workerName">
      </div>
      <div class="input-group input-search login-input pl-2 w-150px">
        <!-- <input class="form-control search-input " type="text" placeholder="Position Type"> -->
        <ng-select class="w-100 common-select1" disbled [items]="personnelTypesListRoster" [multiple]="false"
          bindLabel='code' bindValue='id' [(ngModel)]="positionTypeId" placeholder="Position Type"
          ></ng-select>


      </div>

      <button class="btn bg-green add-button ml-2 color-white d-flex align-items-center" (click)="this.eventDetails.nonEventFlag==1?onGo():getRosterData()"
        type="button "><span class="material-icons mr-1">search</span></button>
    </div>



  </div>
  <div class="d-flex row m-0 ">
    <div class="col-md-9 pl-0 pr-0 col-12">
      <div class="edit-options-table-container">

        <div class="table-inner-container">
          <table class="edit-options-table table">
            <thead>
              <tr>
                <th scope="col" class="sticky-top edit-table-th">
                  <div class="d-flex align-items-center">
                    Position
                    Type
                    <!-- <span class="material-icons">
                            arrow_upward
                        </span> -->
                    <span *ngIf="positionsort" (click)="sortposition(-1,1)" class="material-icons transform-90">
                      arrow_right_alt
                    </span>
                    <span *ngIf="!positionsort" (click)="sortposition(1,-1)" class="material-icons transform90">
                      arrow_right_alt
                    </span>
                  </div>
                </th>
                <th scope="col" class="sticky-top edit-table-th">
                  <div class="d-flex align-items-center">
                    Worker Name <span *ngIf="workersort" (click)="sortName(-1,1)" class="material-icons transform-90 ">
                      arrow_right_alt
                    </span>
                    <span *ngIf='!workersort' (click)="sortName(1,-1)" class="material-icons transform90 ">
                      arrow_right_alt
                    </span>
                  </div>
                </th>
                <th scope="col" class="sticky-top edit-table-th">
                  Call Time
                </th>
                <th scope="col" class="sticky-top edit-table-th">
                  Out Time

                </th>

                <th scope="col" class="sticky-top edit-table-th">
                  Agency Worker

                </th>
                <th scope="col" class="sticky-top edit-table-th">
                  Sign In

                </th>
                <th scope="col" class="sticky-top edit-table-th">
                  Sign Out

                </th>
                <th scope="col" class="sticky-top edit-table-th">
                  Break

                </th>
                <th scope="col" class="sticky-top edit-table-th">
                  <!-- Count -->

                </th>
                <!-- <th scope="col" class="sticky-top edit-table-th">
                              Comments
                          </th> -->



              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let roster of rosterData;let i=index">
                <td class="border-right form-input border-bottom w-20">
                  {{roster.ptCode+'-'+roster.sortCode}}
                </td>
                <td class="border-right form-input border-bottom">
                  {{roster.resourceName}}
                </td>
                <td class="form-input border-right  border-bottom w-20">
                  {{roster.callIn|date:('h:mm a')}}
                </td>
                <td class="border-right form-input border-bottom w-20">
                  {{roster.callOut|date:('h:mm a')}}
                </td>

                <td class="border-right form-input border-bottom form-input  workerName w-200">
                  <!-- {{ roster.agencyWorker}} -->
                  <div class="d-flex align-items-center">
                    <input [id]="roaster+i" type="text" (focus)="getAgencyWorkers(roster.resourceId,i,'roaster')"
                      [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="5" [typeaheadMinLength]="0"
                      [adaptivePosition]="false" typeaheadOptionField="agencyWorker"
                      [(ngModel)]="rosterData[i].agencyWorker" (typeaheadOnSelect)="onSelect($event,i,'roster')"
                      [typeahead]="agencyWorkerList"
                      class=" border-0 form-control search-input h-26px worker-input w-100">

                    <span (click)="saveToSignInStaging(i,'name',false)"
                      class="material-icons  bg-green btn-check color-white ml-2  ml-auto">
                      check
                    </span>
                  </div>

                </td>
                <td *ngIf="roster.actCallIn.length==0" class="border-right form-input border-bottom w-20">
                  <!-- Button -->
                  <button type="button" class="btn-green" (click)="signInFlag(template,i,'signin')">Sign
                    In</button>
                </td>
                <td *ngIf="roster.actCallIn.length!=0" (click)="signInFlag(template,i,'signin')"
                  class="border-right form-input border-bottom w-20 color-green cursor-pointer text-underline">
                  {{roster.actCallIn|date:('h:mm a')}}
                </td>

                <td *ngIf="roster.actCallOut.length==0" class="border-right form-input border-bottom w-20">
                  <!-- Button -->
                  <button type="button" *ngIf="roster.actCallIn.length>0" (click)="signInFlag(template,i,'signout')"
                    class="btn-signout">Sign
                    Out</button>
                </td>
                <td *ngIf="roster.actCallOut.length!=0" (click)="signInFlag(template,i,'signout')"
                  class="border-right form-input border-bottom w-20 color-green cursor-pointer text-underline">
                  {{roster.actCallOut|date:('h:mm a')}}
                </td>
                <td class=" form-input border-bottom w-20 border-right">
                  <!-- Button -->
                  <button *ngIf="roster.breakvalue=='end'&&roster.actCallIn.length!=0&&roster.actCallOut.length==0"
                    (click)="!pastEventFlag? break('end',roster.breakTaken,i):''" type="button"
                    class="btn-green bg-danger">End</button>
                  <button *ngIf="roster.breakvalue=='start'&&roster.actCallIn.length!=0&&roster.actCallOut.length==0"
                    (click)="!pastEventFlag? break('start',roster.breakTaken,i):''" type="button"
                    class="btn-green bg-green">Start</button>

                  {{roster.breakvalue=='complete'?'Completed':''}}
                </td>
                <td (click)="breaksummary(roster.stagingId)"
                  class=" form-input border-bottom w-20 color-green cursor-pointer text-underline">
                  {{roster.breakTaken}}
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="rosterData.length==0" class="w-100">
            <h3 *ngIf="intialAPiCall && eventDetails?.nonEventFlag == 1" class="AvenirLTStd-Heavy mt-3 text-center">Please set the Filter and Click on Search</h3>

            <h3 *ngIf="!intialAPiCall" class="AvenirLTStd-Heavy mt-3 text-center"> No Data to Display</h3>
          </div>
        </div>

        <div class="title-header">
          <h4 class="m-0 AvenirLTStd-Heavy">Unscheduled Worker</h4>
        </div>
        <div class="table-inner-container">
          <table class="edit-options-table table table-striped">
            <thead>
              <tr>
                <th scope="col" class="sticky-top edit-table-th">
                  <div class="d-flex align-items-center">
                    Position
                    Type
                    <!-- <span class="material-icons">
                            arrow_upward
                        </span> -->
                    <span *ngIf="positionsortunschedule" (click)="sortpositionunschedule(-1,1,true)"
                      class="material-icons transform-90">
                      arrow_right_alt
                    </span>
                    <span *ngIf="!positionsortunschedule" (click)="sortpositionunschedule(1,-1,true)"
                      class="material-icons transform90">
                      arrow_right_alt
                    </span>
                  </div>
                </th>
                <th scope="col" class="sticky-top edit-table-th">
                  <div class="d-flex align-items-center">
                    Worker Name <span *ngIf="workersortunschedule" (click)="sortNameunschedule(-1,1,true)"
                      class="material-icons transform-90 ">
                      arrow_right_alt
                    </span>
                    <span *ngIf='!workersortunschedule' (click)="sortNameunschedule(1,-1,true)"
                      class="material-icons transform90 ">
                      arrow_right_alt
                    </span>
                  </div>
                </th>
                <th scope="col" class="sticky-top edit-table-th"> Call Time </th>
                <th scope="col" class="sticky-top edit-table-th"> Out Time</th>
                <th scope="col" class="sticky-top edit-table-th">Agency Worker</th>
                <th scope="col" class="sticky-top edit-table-th">Sign In</th>
                <th scope="col" class="sticky-top edit-table-th">Sign Out</th>
                <th scope="col" class="sticky-top edit-table-th"> Break</th>
                <th scope="col" class="sticky-top edit-table-th"></th>
                <th scope="col" class="sticky-top edit-table-th"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let roster of unscheduledWorkerList;let i=index">
                <td class="border-right form-input border-bottom w-20">
                  {{roster.personnelTypeCode}}
                </td>
                <td class="border-right form-input border-bottom">
                  {{roster.resourceName}}
                </td>
                <td class="form-input border-right  border-bottom w-20">
                  {{roster.callIn|date:('h:mm a')}}
                </td>
                <td class="border-right form-input border-bottom w-20">
                  {{roster.callOut|date:('h:mm a')}}
                </td>

                <td class="border-right form-input border-bottom form-input  workerName ">
                  <div class="d-flex align-items-center">
                    <input type="text" id="unschedule{{i}}"
                      (focus)="getAgencyWorkers(roster.resourceId ,i,'unschedule')" [typeaheadAsync]="false"
                      [typeaheadMinLength]="0" [adaptivePosition]="true" typeaheadOptionField="agencyWorker"
                      [(ngModel)]="unscheduledWorkerList[i].agencyWorker" [typeaheadScrollable]="true"
                      [typeaheadOptionsInScrollableView]="5" (typeaheadOnSelect)="onSelect($event,i,'unschedule')"
                      [typeahead]="agencyWorkerList"
                      class=" border-0 form-control search-input h-26px worker-input w-100">
                     <ng-template style="width: 100%;" #itemTemplateservice let-item>
                      <a [innerHTML]="item.agencyWorker"></a>
                    </ng-template>

                    <span (click)="saveToSignInStagingUnscheduled(i,'name',false)"
                      class="material-icons  bg-green btn-check color-white ml-2 ml-auto">
                      check
                    </span>
                  </div>

                </td>
                <td *ngIf="roster.actCallIn.length==0" class="border-right form-input border-bottom w-20">
                  <button type="button" class="btn-green"
                    (click)="signInFlagUnscheduled(unscheduledtemplate,i,'signin')">Sign
                    In</button>
                </td>
                <td *ngIf="roster.actCallIn.length!=0" (click)="signInFlagUnscheduled(unscheduledtemplate,i,'signin')"
                  class="border-right form-input border-bottom w-20 color-green cursor-pointer text-underline">
                  {{roster.actCallIn|date:('h:mm a')}}
                </td>
                <td *ngIf="roster.actCallOut.length==0" class="border-right form-input border-bottom w-20">
                  <!-- Button -->
                  <button *ngIf="roster.actCallIn.length>0" type="button"
                    (click)="signInFlagUnscheduled(unscheduledtemplate,i,'signout')" class="btn-signout">Sign
                    Out</button>
                </td>
                <td *ngIf="roster.actCallOut.length!=0" (click)="signInFlagUnscheduled(unscheduledtemplate,i,'signout')"
                  class="border-right form-input border-bottom w-20 color-green cursor-pointer text-underline">
                  {{roster.actCallOut|date:('h:mm a')}}
                </td>
                <td class=" form-input border-bottom w-20 border-right">
                  <button *ngIf="roster.breakvalue=='end'&&roster.actCallIn.length!=0&&roster.actCallOut.length==0"
                    (click)="!pastEventFlag?unschedulebreak('end',roster.breakTaken,i):''" type="button"
                    class="btn-green bg-danger">End</button>
                  <button *ngIf="roster.breakvalue=='start'&&roster.actCallIn.length!=0&&roster.actCallOut.length==0"
                    (click)="!pastEventFlag? unschedulebreak('start',roster.breakTaken,i):''" type="button"
                    class="btn-green bg-green">Start</button>
                  {{roster.breakvalue=='complete'?'Completed':''}}
                </td>
                <td (click)="breaksummary(roster.stagingId)"
                  class=" form-input border-bottom border-right color-green cursor-pointer text-underline">
                  {{roster.breakTaken}}
                </td>
                <td class="border-bottom border-right">
                  <button (click)="approveUnscheduledWorker(roster)" *ngIf="roster.approveFlag==0" type="button"
                     class="btn-signout  cursor-pointer">Approve</button>
                </td>
              </tr>


            </tbody>
          </table>


          <div *ngIf="unscheduledWorkerList.length==0" class="w-100">
            <h3 class="AvenirLTStd-Heavy mt-3 text-center"> No Data to Display</h3>
          </div>
        </div>

      </div>
      <div class="pagination-wrapper d-flex justify-content-between d-flex mt-2">
        <button routerLink='/events' type="button" class="d-flex align-items-center bg-danger add-button "><span
            class="material-icons mr-2">
            close
          </span> Close</button>
        <!-- <button _ngcontent-lli-c176="" *ngIf="!pastEventFlag" (click)="getUnscheduledWorkersList()" type="button"
          class="d-flex align-items-center bg-blue add-button " data-toggle="modal" data-target="#Unscheduled"><span
            class="material-icons mr-2">
            person_add
          </span> Add Unscheduled Worker </button> -->
        <button _ngcontent-lli-c176="" *ngIf="!pastEventFlag" (click)="getUnscheduledWorkersList()" type="button"
          class="d-flex align-items-center bg-blue add-button " data-toggle="modal" data-target="#Unscheduled"><span
            class="material-icons mr-2">
            person_add
          </span> Add Unscheduled Worker </button>
        <button _ngcontent-lli-c176="" type="button" class="btn common-table-btn reset-button d-flex align-items-center"
          (click)="summaryroute()"><span class="material-icons mr-2">
            view_list
          </span>Summary</button>

        <!-- <div class="pagination justify-content-end pagination-button mt-2">
          <div class=" d-flex align-items-center"><button _ngcontent-lli-c176="" type="button"
              class="btn common-table-btn reset-button d-flex align-items-center" (click)="summaryroute()"><span
                class="material-icons mr-2">
                view_list
              </span>Summary</button>

          </div>

        </div> -->
      </div>
    </div>
    <div class="qr-container text-center col-md-3  pr-0 col-12">
      <div class="bg-table-green ">
        <div class="p-3 qr-container-inner">
          <!-- <img src="assets/images/Screenshot_13.png" class="img-fluid"> -->
          <img *ngIf="blobcontent" blobcontentimg [src]="('data:image/JPEG;base64,' +blobcontentImg) | domsanitize"
            alt="qrc" class="img-fluid">

        </div>
        <div class=" p-2">
          <table class=" table mb-0 table-striped">

            <tbody>
              <tr>
                <td class="border-right form-input border-left d-flex align-items-center">
                  <div class="icon">
                    <img src="assets/images/waiter.svg" class="img-fluid" />
                  </div>
                  <h5 class="m-0  AvenirLTStd-Heavy ">
                    Total Workers</h5>
                </td>
                <td class="border-right form-input ">
                  <h5 class="m-0  AvenirLTStd-Heavy "> {{noOfWorkers}}</h5>
                </td>

              </tr>
              <tr>
                <td class="border-right form-input  border-left d-flex align-items-center">
                  <span class="material-icons">
                    group
                  </span>
                  <h5 class="m-0  AvenirLTStd-Heavy "> Signed In Workers</h5>
                </td>
                <td class="border-right form-input ">
                  <h5 class="m-0  AvenirLTStd-Heavy "> {{signInCount}}</h5>
                </td>

              </tr>
              <tr>
                <td class="border-right form-input  border-left d-flex align-items-center">
                  <span class="material-icons">
                    group
                  </span>
                  <h5 class="m-0  AvenirLTStd-Heavy "> Signed Out Workers</h5>
                </td>
                <td class="border-right form-input ">

                  <h5 class="m-0  AvenirLTStd-Heavy "> {{signOutCount}}</h5>
                </td>

              </tr>
              <tr class="border-bottom">
                <td class="border-right form-input  border-left d-flex align-items-center">
                  <div class="icon">
                    <img src="assets/images/worker-and-a-clock.svg" class="img-fluid" />
                  </div>
                  <h5 class="m-0  AvenirLTStd-Heavy "> Workers In Break </h5>
                </td>
                <td class="border-right form-input ">
                  <h5 class="m-0  AvenirLTStd-Heavy "> {{breakCount}}</h5>
                </td>

              </tr>
              <tr class="border-bottom">
                <td class="border-right form-input  border-left d-flex align-items-center">
                  <div class="icon">
                    <img src="assets/images/clock.svg" class="img-fluid" />
                  </div>
                  <h5 class="m-0  AvenirLTStd-Heavy ">Total Schedule Hours </h5>
                </td>
                <td class="border-right form-input ">
                  <h5 class="m-0  AvenirLTStd-Heavy "> {{totalScheduleHours}}</h5>
                </td>

              </tr>
              <tr class="border-bottom">
                <td class="border-right form-input  border-left d-flex align-items-center">
                  <div class="icon">
                    <img width="100" height="200" src="assets/images/clock.svg" class="img-fluid" />
                  </div>
                  <h5 class="m-0  AvenirLTStd-Heavy "> Total Actual Hours </h5>
                </td>
                <td class="border-right form-input ">
                  <h5 class="m-0  AvenirLTStd-Heavy "> {{totalActualHours}}</h5>
                </td>

              </tr>


            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>




</div>








<!-- Add Unscheduled worker -->
<div class="modal fade p-0" id="Unscheduled" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-container modal-dialog-centered unschedule-worker-modal-container" role="document">
    <div class="modal-content">

      <div class="modal-body modal-body-container">
        <div class="">

          <div class="edit-options-table-container">
            <div class="title-header">
              <h4 class="m-0 AvenirLTStd-Heavy    ">Unscheduled Worker</h4>

              <div class="d-flex nav header-input w-100 justify-content-between">

                <div class="d-flex justify-content-end align-items-center ">
                  <p class="m-0 strong">&nbsp;Event # {{eventDetails.cisNumber}}&nbsp; &nbsp;
                    {{eventDetails.companyName}}&nbsp; &nbsp;&nbsp; - </p>
                  <p class="m-0 strong">&nbsp; {{eventDetails.eventDate}} &nbsp; - &nbsp;</p>
                  <p class="m-0 strong">&nbsp; {{eventDetails.eventBeginTime}} To {{eventDetails.eventEndTime}}</p>
                </div>
                <div class="d-flex align-items-center">
                  <div *ngIf="this.eventDetails.nonEventFlag==1" class="input-group  login-input w-113px h-30 pl-2">
                    <input class="form-control h-30"[tooltip]="'Event Date'" type="text" [(ngModel)]="eventDate" bsDatepicker readonly placeholder="Event Date"
                      [bsConfig]="{ adaptivePosition: true }">
                  </div>
                  <div class="input-group input-search login-input pl-2 w-180px x">
                    <input class="form-control search-input " type="text" [(ngModel)]="workerNameUnscheduled"
                      placeholder="Worker Name">
                    <!-- <span class="material-icons search-right">search</span> -->
                  </div>
                  <div class="input-group input-search login-input pl-2 w-150px">
                    <!-- <input class="form-control search-input" type="text" placeholder="Position Type"> -->
                    <!-- <span class="material-icons search-right">search</span> -->
                    <ng-select class="w-100 common-select1" disbled [items]="personnelTypesList" [multiple]="false"
                      bindLabel='code' placeholder="Position Type" bindValue='id' [(ngModel)]="positionTypeIdunScheduled"
                      ></ng-select>
                  </div>
                  <!-- <button class="btn bg-green add-button ml-2 color-white" type="button ">Go</button> -->
                  <button class="btn bg-green add-button ml-2 color-white d-flex align-items-center"
                    (click)="onUnscheduleSearch()" type="button "><span
                      class="material-icons mr-1">search</span></button>
                </div>

              </div>


            </div>
            <div class=" unscheduled-worker-table">

              <table class="edit-options-table table">
                <thead>
                  <tr>
                    <th scope="col" class="sticky-top edit-table-th w-20 "></th>
                    <th scope="col" class="sticky-top edit-table-th">
                      <div class="d-flex align-items-center">
                        Position
                        Type
                        <!-- <span class="material-icons">
                                arrow_upward
                            </span> -->
                        <span *ngIf="positionsortunschedule" (click)="sortpositionunschedule(-1,1)"
                          class="material-icons transform-90">
                          arrow_right_alt
                        </span>
                        <span *ngIf="!positionsortunschedule" (click)="sortpositionunschedule(1,-1)"
                          class="material-icons transform90 ">
                          arrow_right_alt
                        </span>
                      </div>


                    </th>
                    <th scope="col" class="sticky-top edit-table-th">
                      <div class="d-flex align-items-center">
                        Worker Name
                        <!-- <span class="material-icons">
                                arrow_upward
                            </span> -->
                        <span *ngIf="workersortunschedule" (click)="sortNameunschedule(-1,1)"
                          class="material-icons transform-90 ">
                          arrow_right_alt
                        </span>
                        <span *ngIf="!workersortunschedule" (click)="sortNameunschedule(1,-1)"
                          class="material-icons transform90 ">
                          arrow_right_alt
                        </span>
                      </div>



                    </th>


                    <th scope="col" class="sticky-top edit-table-th">
                      Agency Worker
                    </th>
                    <th scope="col" class="sticky-top edit-table-th">Sign In
                    </th>
                    <th scope="col" class="sticky-top edit-table-th">
                      Sign Out
                    </th>
                    <th scope="col" class="sticky-top edit-table-th">
                      Break
                    </th>
                    <th scope="col" class="sticky-top edit-table-th">

                    </th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let worker of unscheduledWorkerList;let i=index">
                    <td (click)="deleteUnscheduledWorker(i)"
                      class="border-right form-input border-bottom position-relative text-danger cursor-pointer">
                      <!-- <label class="customcheck margin-left-15 m-0">
                                              <input type="checkbox">
                                              <span class="checkmark"></span>
                                          </label> -->
                      <span class="material-icons" title="Delete">
                        delete
                      </span>
                    </td>

                    <!-- use ng-auto here -->
                    <td class="border-right form-input border-bottom positionType w-20">
                      <input *ngIf="worker.stagingId!=null" class="form-control search-input h-26px position-input"
                        readonly value={{worker.personnelTypeCode}} type="text">
                      <ng-select  [class.is-invalid]="worker.personnelTypeId ==null && formError" *ngIf="worker.stagingId ==null" class="w-100 common-select" disbled
                        [items]="personnelTypesList" bindLabel='code' bindValue='id'
                        [(ngModel)]="unscheduledWorkerList[i].personnelTypeId">
                      </ng-select>
                    </td>
                    <td class="border-right form-input border-bottom workerName w-20">

                      <input *ngIf="worker.stagingId!=null" class="form-control search-input h-26px worker-input"
                        readonly value={{worker.resourceName}} type="text">
                      <!-- <span class="material-icons search-right">search</span> -->
                      <ng-select [class.is-invalid]="worker.resourceId ==null && formError" *ngIf="worker.stagingId==null" class="w-100 common-select" disbled [items]="workerList"
                        bindLabel='resourceName' bindValue='resourceId'
                        [(ngModel)]="unscheduledWorkerList[i].resourceId">
                      </ng-select>

                      <!-- </div> -->
                    </td>


                    <td class="border-right form-input border-bottom">
                      <div class="input-group input-search login-input h-26px">
                        <input type="text" id="unschedulep{{i}}"
                          (focus)="getAgencyWorkers(worker.resourceId,i,'unschedulep')" [typeaheadAsync]="false"
                          [typeaheadMinLength]="0" [adaptivePosition]="true" typeaheadOptionField="agencyWorker"
                          [(ngModel)]="unscheduledWorkerList[i].agencyWorker" [typeaheadScrollable]="true"
                          [typeaheadOptionsInScrollableView]="5" (typeaheadOnSelect)="onSelect($event,i,'unschedule')"
                          [typeahead]="agencyWorkerList" class="form-control search-input h-26px border">

                        <i class="fas fa-check-circle color-green f-size-20 ml-auto cursor-pointer"
                          (click)="saveToSignInStagingUnscheduled(i,'name',false)"></i>

                      </div>
                    </td>
                    <td *ngIf="worker.actCallIn.length==0&&worker.stagingId!==null"
                      class="border-right form-input border-bottom w-20">
                      <!-- Button -->
                      <button *ngIf="worker.stagingId!==null" type="button" class="btn-green"
                        (click)="signInFlagUnscheduled(unscheduledtemplate,i,'signin')">Sign
                        In</button>
                    </td>
                    <td *ngIf="worker.actCallIn.length>0"
                      (click)="signInFlagUnscheduled(unscheduledtemplate,i,'signin')"
                      class="border-right form-input border-bottom w-20 color-green cursor-pointer text-underline">
                      {{worker.actCallIn|date:('h:mm a')}}
                    </td>
                    <td *ngIf="worker.actCallOut.length==0&&worker.stagingId!==null"
                      class="border-right form-input border-bottom w-20">
                      <!-- Button -->
                      <button *ngIf="worker.stagingId!==null&&worker.actCallIn.length>0" type="button"
                        class="btn-signout" (click)="signInFlagUnscheduled(unscheduledtemplate,i,'signout')">Sign
                        Out</button>
                    </td>
                    <td *ngIf="worker.actCallOut.length>0"
                      (click)="signInFlagUnscheduled(unscheduledtemplate,i,'signout')"
                      class="border-right form-input border-bottom w-20 color-green cursor-pointer text-underline">
                      {{worker.actCallOut|date:('h:mm a')}}
                    </td>
                    <td class=" form-input border-bottom w-20 border-right">
                      <!-- Button -->
                      <!-- <button type="button" class="btn-green" (click)=" showSuccess()">Button</button> -->
                      <button
                        *ngIf="worker.breakvalue=='end'&&worker.stagingId!==null&&worker.actCallIn.length!=0&&worker.actCallOut.length==0"
                        (click)="unschedulebreak('end',worker.breakTaken,i)" type="button"
                        class="btn-green bg-danger">End</button>
                      <button
                        *ngIf="worker.breakvalue=='start'&&worker.stagingId!==null&&worker.actCallIn.length!=0&&worker.actCallOut.length==0"
                        (click)="unschedulebreak('start',worker.breakTaken,i)" type="button"
                        class="btn-green bg-green">Start</button>
                      {{worker.breakvalue=='complete'?'Completed':''}}
                    </td>
                    <td (click)="breaksummary(worker.stagingId)"
                      class="border-right form-input border-bottom w-20 color-green cursor-pointer text-underline">
                      {{worker.breakTaken}}
                    </td>
                  </tr>

                </tbody>

              </table>
              <div *ngIf="unscheduledWorkerList.length==0" class="w-100 text-center">
                <h3 class="AvenirLTStd-Heavy "> No Data to Display</h3>
              </div>
            </div>
          </div>
          <div class="pagination-wrapper  justify-content-between d-flex mt-2">
            <button (click)="onUnscheduleClose()" type="button" class="d-flex align-items-center bg-danger add-button "
              ><span class="material-icons mr-2">
                close
              </span> Close</button>

            <button (click)="saveUnscheduledWorkerToStaging()" type="button"
              class="d-flex align-items-center bg-green add-button "><span class="material-icons mr-2">
                person
              </span>Save</button>
            <button type="button" (click)="addUnschedule()" class="d-flex align-items-center bg-blue add-button "><span
                class="material-icons mr-2">
                person_add
              </span> Add</button>


          </div>

        </div>
      </div>

    </div>
  </div>

</div>



<ng-template #template>
  <!-- <div class="modal fade p-0" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"> -->
  <!-- <div class="modal-dialog modal-container modal-dialog-centered" role="document">
        <div class="modal-content"> -->
  <div class="modal-header">
    <h5 class="modal-title modal-title-content AvenirLTStd-Heavy" id="exampleModalLongTitle"><span
        class="circle"></span>{{popupType=="signin"?'Sign In':'Sign Out'}} - {{popupTitle}}</h5>
    <button type="button" class="close m-0 close-button text-white" (click)="bsmodelRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-body-container">
    <div class="pb-2">
      <label>Date</label>
      <div class="input-group input-search login-input">
        <input class="form-control search-input" type="text" readonly bsDatepicker [(ngModel)]="popUpDate"
          placeholder="mm/dd/yyyy">
        <span class="material-icons right-icon">today</span>
      </div>
    </div>
    <div class="pb-2">
      <label>Time</label>
      <div class="d-flex">
        <select [(ngModel)]="popUpHours" class="ml-0 pl-0">
          <option [value]='01'>01</option>
          <option [value]='02'>02</option>
          <option [value]='03'>03</option>
          <option [value]='04'>04</option>
          <option [value]='05'>05</option>
          <option [value]='06'>06</option>
          <option [value]='07'>07</option>
          <option [value]='08'>08</option>
          <option [value]='09'>09</option>
          <option [value]='10'>10</option>
          <option [value]='11'>11</option>
          <option [value]='12'>12</option>
        </select>
        <select [(ngModel)]="popUpminutes">
          <option *ngFor="let minute of minutesArray;let i=index" [value]='i'>{{i}}</option>
        </select>
        <select [(ngModel)]="popUpMeridian">

          <option [value]='"AM"'>AM</option>
          <option [value]='"PM"'>PM</option>
        </select>
      </div>

    </div>
    <div class="close-button d-flex">
      <button type="submit" class="btn btn-inner mr-5 bg-danger" (click)="bsmodelRef.hide()">Cancel</button>
      <button type="submit" class="btn btn-inner bg-blue" data-dismiss="modal"
        (click)="saveToSignInStaging(popupIndex,popupType,true)">Save</button>

    </div>
  </div>

  <!-- </div>
    </div> -->
  <!-- </div> -->
</ng-template>
<ng-template #unscheduledtemplate>
  <!-- <div class="modal fade p-0" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
aria-hidden="true"> -->
  <!-- <div class="modal-dialog modal-container modal-dialog-centered" role="document">
      <div class="modal-content"> -->
  <div class="modal-header">
    <h5 class="modal-title modal-title-content AvenirLTStd-Heavy" id="exampleModalLongTitle"><span
        class="circle"></span>{{popupType=="signin"?'Sign In':'Sign Out'}} - {{popupTitle}}</h5>
    <button type="button" class="close m-0 close-button text-white" (click)="bsmodelRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-body-container">
    <div class="pb-2">
      <label>Date</label>
      <div class="input-group input-search login-input">
        <input class="form-control search-input" type="text" readonly bsDatepicker [(ngModel)]="popUpDate"
          placeholder="mm/dd/yyyy">
        <span class="material-icons right-icon">today</span>
      </div>
    </div>
    <div class="pb-2">
      <label>Time</label>
      <div class="d-flex">
        <select [(ngModel)]="popUpHours" class="ml-0 pl-0">
          <option [value]='01'>01</option>
          <option [value]='02'>02</option>
          <option [value]='03'>03</option>
          <option [value]='04'>04</option>
          <option [value]='05'>05</option>
          <option [value]='06'>06</option>
          <option [value]='07'>07</option>
          <option [value]='08'>08</option>
          <option [value]='09'>09</option>
          <option [value]='10'>10</option>
          <option [value]='11'>11</option>
          <option [value]='12'>12</option>
        </select>
        <select [(ngModel)]="popUpminutes">
          <option *ngFor="let minute of minutesArray;let i=index" [value]='i'>{{i}}</option>
        </select>
        <select [(ngModel)]="popUpMeridian">

          <option [value]='"AM"'>AM</option>
          <option [value]='"PM"'>PM</option>
        </select>
      </div>

    </div>
    <div class="close-button d-flex">
      <button type="submit" class="btn btn-inner mr-5 bg-danger" (click)="bsmodelRef.hide()">Cancel</button>
      <button type="submit" class="btn btn-inner bg-blue"
        (click)="saveToSignInStagingUnscheduled(popupIndex,popupType,true)">Save</button>
    </div>
  </div>

  <!-- </div>
  </div> -->
  <!-- </div> -->
</ng-template>

<ng-template #notFoundTemplate let-notFound>
  <div [innerHTML]="notFound" class="text-dark"></div>
</ng-template>
