<!-- <p>break-details works!</p> -->
<!-- <p>roster-event works!</p> -->
<!-- <p>listing works!</p> -->
<app-header></app-header>
<div class=" roaster-container break-container roster">
  <div class="title-header">
    <h4 class="m-0 AvenirLTStd-Heavy">Summary</h4>
    <div class="d-flex align-items-center nav header-input">
      <div class="d-flex justify-content-end">
        <p class="m-0 strong">&nbsp;Event # {{eventDetails.cisNumber}} &nbsp; - &nbsp;</p>
        <p class="m-0 strong">&nbsp; {{eventDetails.companyName}} &nbsp; - &nbsp; </p>
        <p class="m-0 strong">&nbsp; {{eventDetails.eventDate}} &nbsp; - &nbsp;</p>
        <p class="m-0 strong">&nbsp; {{eventDetails.eventBeginTime}} To {{eventDetails.eventEndTime}}</p>
      </div>
      <div *ngIf="this.eventDetails.nonEventFlag==1" class="input-group  login-input w-113px h-30 pl-2">
        <input class="form-control h-30" type="text" [tooltip]="'Event Date'" [(ngModel)]="eventDate" bsDatepicker readonly placeholder="Event Date"
          [bsConfig]="{ adaptivePosition: true }">
      </div>
      <div class="input-group input-search login-input pl-2 w-180px">
        <input class="form-control search-input " type="text" [(ngModel)]="workerName" placeholder="Worker Name">
      </div>
      <div class="input-group input-search login-input pl-2 w-150px">
        <ng-select class="w-100 common-select1" placeholder="Position Type" disbled [items]="personnelTypesList" [multiple]="false" bindLabel='code'
          bindValue='id' [(ngModel)]="positionTypeId" ></ng-select>
      </div>
      <button class="btn bg-green add-button ml-2 color-white d-flex align-items-center" (click)="getSummaryList()"
        type="button "><span class="material-icons mr-1">search</span></button>
    </div>
  </div>
  <!-- <div class="d-flex  "> -->
  <div class="">
    <div class="edit-options-table-container">
      <div class="table-responsive table-container ">
        <table class="edit-options-table table">
          <thead>
            <tr>
              <th scope="col" class="sticky-top edit-table-th w-130 border-right z-1">
                <div class="d-flex align-items-center">Position
                  Type
                  <span *ngIf="positionsort" (click)="sortposition(-1,1)" class="material-icons transform-90">
                    arrow_right_alt
                  </span>
                  <span *ngIf="!positionsort" (click)="sortposition(1,-1)" class="material-icons transform90">
                    arrow_right_alt
                  </span>
                </div>
              </th>
              <th scope="col" class="sticky-top edit-table-th border-right z-1">
                <div class="d-flex align-items-center">Worker Name

                  <span *ngIf="workersort" (click)="sortName(-1,1)" class="material-icons transform-90 ">
                    arrow_right_alt
                  </span>
                  <span *ngIf='!workersort' (click)="sortName(1,-1)" class="material-icons transform90 ">
                    arrow_right_alt
                  </span>
                </div>
              </th>
              <th scope="col" class="sticky-top edit-table-th border-right z-1">
                Call Time
              </th>
              <th scope="col" class="sticky-top edit-table-th border-right z-1">
                Out Time
              </th>
              <th scope="col" class="sticky-top edit-table-th border-right z-1">
                Sign In
              </th>
              <th scope="col" class="sticky-top edit-table-th border-right z-1">
                Sign Out
              </th>
              <th scope="col" class="sticky-top edit-table-th border-right z-1">
                Total Hours
              </th>
              <th scope="col" class="sticky-top edit-table-th border-right z-1">
                Agency Worker
              </th>
              <th scope="col" class="sticky-top edit-table-th p-0 border-right z-1">
                <div class="text-center">
                  <h5 class="m-0 AvenirLTStd-Heavy border-bottom pt-2">Break 1</h5>
                  <div class="d-flex align-items-center justify-content-around">
                    <h5 class="m-0 p-2 w-50 border-right">Start</h5>
                    <h5 class="m-0 p-2 w-50">End</h5>
                  </div>
                </div>
              </th>
              <th scope="col" class="sticky-top edit-table-th p-0 border-right z-1">
                <div class="text-center">
                  <h5 class="m-0 AvenirLTStd-Heavy border-bottom pt-2">Break 2</h5>
                  <div class="d-flex align-items-center justify-content-around">
                    <h5 class="m-0 p-2 w-50 border-right">Start </h5>
                    <h5 class="m-0 p-2 w-50">End</h5>
                  </div>
                </div>
              </th>
              <th scope="col" class="sticky-top edit-table-th p-0 border-right z-1">
                <div class="text-center">
                  <h5 class="m-0 AvenirLTStd-Heavy border-bottom pt-2">Break 3</h5>
                  <div class="d-flex align-items-center justify-content-around">
                    <h5 class="m-0 p-2 w-50 border-right">Start</h5>
                    <h5 class="m-0 p-2 w-50">End</h5>
                  </div>
                </div>
              </th>
              <th scope="col" class="sticky-top edit-table-th border-right z-1">

              </th>

            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let data of summaryData;let i=index">
              <td class="border-right form-input border-bottom w-130">
                {{data.ptCode}} - {{data.sortCode}}
              </td>
              <td class="border-right form-input border-bottom">
                {{data.resourceName}}
              </td>
              <td class="border-right form-input border-bottom w-20">
                <!-- <div class="input-group w-88px">
                                    <input type="text" value="10:35 PM" class="form-control">
                                </div> -->
                {{data.callIn|date:('h:mm a')}}
              </td>
              <td class="border-right form-input border-bottom w-20">
                {{data.callOut|date:('h:mm a')}}
              </td>
              <td class="border-right form-input border-bottom w-20 color-green cursor-pointer text-underline"
                (click)="signInFlag(template,i,'signin',data.actCallIn)">
                {{data.actCallIn|date:('h:mm a')}}
              </td>
              <td class="border-right form-input border-bottom w-20 color-green cursor-pointer text-underline"
                (click)="signInFlag(template,i,'signout',data.actCallOut)">
                {{data.actCallOut|date:('h:mm a')}}
              </td>
              <td class="border-right form-input border-bottom w-20 " >
                {{data.totalHours}}
              </td>
              <td class="border-right form-input border-bottom w-16 ">

                <div class="input-group ">
                    <input type="text" id="summary{{i}}"  (focus)="getAgencyWorkers(data.resourceId,i,'summary')"
                    [typeaheadAsync]="false" [typeaheadMinLength]="0" [adaptivePosition]="true"
                    typeaheadOptionField="agencyWorker" [(ngModel)]="summaryData[i].agencyWorker"
                    [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="5"
                    (typeaheadOnSelect)="onSelect($event,i)" [typeahead]="agencyWorkerList"
                    class="form-control h-26px ">
                  <span (click)="!pastEventFlag?saveToSignInStaging(i,'name',false):''"
                    class="material-icons  bg-green btn-check color-white ml-2 ml-auto">
                    check
                  </span>
                </div>

              </td>
              <td class="border-bottom border-right w-150px color-green p-0">
                <div class="text-center">

                  <div class="d-flex align-items-center justify-content-around form-input">

                    <div class="d-flex w-50 border-right p-2 cursor-pointer white-space text-underline h-30"
                      (click)="signInFlag(template,i,'break1in',data.break1ActIn)">
                      {{data.break1ActIn|date:('h:mm a')}}
                    </div>
                    <div class="d-flex w-50 p-2 cursor-pointer white-space text-underline h-30"
                      (click)="signInFlag(template,i,'break1out',data.break1ActOut)">
                      {{data.break1ActOut|date:('h:mm a')}}
                    </div>
                  </div>
                </div>
              </td>
              <td class="border-bottom border-right w-150px color-green p-0">
                <div class="text-center">

                  <div class="d-flex align-items-center justify-content-around form-input">

                    <div class="d-flex w-50 border-right  p-2 cursor-pointer white-space text-underline h-30"
                      (click)="signInFlag(template,i,'break2in',data.break2ActIn)">
                      {{data.break2ActIn|date:('h:mm a')}}
                    </div>
                    <div class="d-flex w-50 p-2 cursor-pointer white-space text-underline h-30"
                      (click)="signInFlag(template,i,'break2out',data.break2ActOut)">
                      {{data.break2ActOut|date:('h:mm a')}}
                    </div>
                  </div>
                </div>
              </td>
              <td class="border-bottom border-right w-150px color-green p-0">
                <div class="text-center">

                  <div class="d-flex align-items-center justify-content-around form-input">

                    <div class="d-flex w-50 border-right p-2 cursor-pointer white-space text-underline h-30"
                      (click)="signInFlag(template,i,'break3in',data.break3ActIn)">
                      {{data.break3ActIn|date:('h:mm a')}}
                    </div>
                    <div class="d-flex w-50 pl-2 p-2 cursor-pointer white-space text-underline h-30"
                      (click)="signInFlag(template,i,'break3out',data.break3ActOut)">
                      {{data.break3ActOut|date:('h:mm a')}}
                    </div>
                  </div>
                </div>
              </td>
              <td class="border-bottom border-right">
                <button (click)="approveUnscheduledWorker(data)"  *ngIf="data.approveFlag==0 && data.scheduledFlag==0" type="button"
                   class="btn-signout  cursor-pointer">Approve</button>
              </td>
            </tr>


          </tbody>

        </table>
        <div *ngIf="summaryData.length==0" class="w-100 text-center">
          <h3 class="AvenirLTStd-Heavy mt-3 text-center">No Data to Display</h3>
        </div>
      </div>
    </div>


    <div class="mt-4  d-flex align-items-center justify-content-between">
      <button (click)="roster()" type="button"
        class="d-flex align-items-center bg-danger add-button "><span
          class="material-icons mr-2 ">
          close
        </span> Close</button>
      <button _ngcontent-lli-c176="" *ngIf="!pastEventFlag" (click)="saveSummaryList()" type="button"
        class="d-flex align-items-center bg-blue add-button submit-btn" data-target="#Unscheduled">
        Submit</button>

    </div>
  </div>
</div>




<!-- Modal Sign In -->
<ng-template #template>

  <div class="modal-header">
    <h5 class="modal-title modal-title-content AvenirLTStd-Heavy" id="exampleModalLongTitle"><span
        class="circle"></span>{{popupTypeTitle}} - {{popupTitle}}</h5>
    <button type="button" class=" close m-0 px-3 pt-2 close-button text-white" (click)="bsmodelRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-body-container">
    <div class="pb-2">
      <label>Date</label>
      <div class="input-group input-search login-input">
        <input class="form-control search-input" type="text" readonly bsDatepicker [(ngModel)]="popUpDate"
          placeholder="mm/dd/yyyy">
        <span class="material-icons right-icon">today</span>
      </div>
    </div>
    <div class="pb-2">
      <label>Time</label>
      <div class="d-flex">
        <select [(ngModel)]="popUpHours" class="ml-0 pl-0">
          <option [value]='01'>01</option>
          <option [value]='02'>02</option>
          <option [value]='03'>03</option>
          <option [value]='04'>04</option>
          <option [value]='05'>05</option>
          <option [value]='06'>06</option>
          <option [value]='07'>07</option>
          <option [value]='08'>08</option>
          <option [value]='09'>09</option>
          <option [value]='10'>10</option>
          <option [value]='11'>11</option>
          <option [value]='12'>12</option>
        </select>
        <select [(ngModel)]="popUpminutes">
          <option *ngFor="let minute of minutesArray;let i=index" [value]='i'>{{i}}</option>
        </select>
        <select [(ngModel)]="popUpMeridian">

          <option [value]='"AM"'>AM</option>
          <option [value]='"PM"'>PM</option>
        </select>
      </div>

    </div>
    <div class="close-button d-flex">
      <button type="submit" class="btn btn-inner mr-5 bg-danger" (click)="bsmodelRef.hide()">Cancel</button>
      <button type="submit" class="btn btn-inner bg-blue" data-dismiss="modal"
        (click)="saveToSignInStaging(popupIndex,popupType,true)">Save</button>

    </div>
  </div>

  <!-- </div>
    </div> -->
  <!-- </div> -->
</ng-template>

<ng-template #notFoundTemplate let-notFound>
  <div [innerHTML]="notFound" class="text-dark"></div>
</ng-template>
