<app-mobile-header></app-mobile-header>

<div class="roaster-wrapper">
  <!-- event-info -->
  <app-event-info></app-event-info>

  <div class="d-flex justify-content-around text-white event-info mx-3 mt-1 rounded">
    <p class="m-0 strong"> Tot: {{noOfWorkers}} </p>
    <p class="m-0 strong"> SI: {{signInCount}} </p>
    <p class="m-0 strong"> SO: {{signOutCount}} </p>
    <p class="m-0 strong"> Brk: {{breakCount}} </p>
    <p class="m-0 strong"> T Sch: {{totalScheduleHours}} </p>
    <p class="m-0 strong"> T Act: {{totalActualHours}} </p>

  </div>
  <div class="px-3 pt-1">
    <div class="d-flex justify-content-between bg-blue">
      <div class=" d-flex justify-content-between align-items-center px-3 text-white">
        <h5 class="text-white py-2 mb-0">Roster</h5>
      </div>


      <div class="filter-dropdown roaster-filter">
        <button class="btn text-white" type="button" id="dropdownMenuButton2" (click)="openFliter(filter)">
          <i class="fas fa-filter"></i>
        </button>
        <ng-template #filter class="dropdown-menu">
          <div class="drop-down-content">
            <select [(ngModel)]="mode" class=" border-0 outline-0 mb-3 w-100 mx-0">
              <option [value]="1" class="bg-white">All</option>
              <option [value]="2" class="bg-white">Sign In</option>
              <option [value]="3" class=" bg-white">Sign Out</option>
            </select>
            <input  *ngIf="this.eventDetails.nonEventFlag==1" type="text" style="background-color: #ffffff;" [(ngModel)]='eventDate' class="form-control mb-3" readonly  bsDatepicker placeholder="Event Date">

            <input type="text" class="form-control mb-3" [(ngModel)]="workerName" placeholder="Worker Name">
            <!-- <input type="text" class="form-control mb-3" placeholder="MM/dd/YYYY"> -->
            <ng-select class=" w-100" disbled [items]="personnelTypesListRoster" [multiple]="false"
              bindLabel='code' bindValue='id' placeholder="Position Type" [(ngModel)]="positionTypeId" ></ng-select>

            <button (click)="applyFilter()"
              class="btn bg-green ml-2 mb-2 color-white d-flex align-items-center justify-content-end mt-2 float-right">
              Search
              <span _ngcontent-gsf-c92="" class="material-icons mr-1">search</span>
            </button>
          </div>
        </ng-template>
      </div>
    </div>


    <div class="table-responsive">
      <div class="table-height-wrapper" [ngStyle]="{'height':windowHeight}">
        <table class="table box-shadow table-striped">
          <tbody class="bg-white">
            <tr *ngFor="let roster of rosterData;let i=index">
              <td>
                {{roster.ptCode+'-'+roster.sortCode}}<br>
                {{roster.resourceName}}<br>
                {{roster.callIn|date:('h:mm a')}} - {{roster.callOut|date:('h:mm a')}}<br>
              </td>
              <td>
                <div class="d-flex justify-content-end">
                  <button *ngIf="roster.actCallIn.length==0" (click)="signInFlag(template,i,'signin')" type="button"
                    class="btn-green">Sign
                    In
                  </button>
                </div>

                <span *ngIf="roster.actCallIn.length!=0"> In:
                  <span class="float-right color-green"
                    (click)="signInFlag(template,i,'signin')">{{roster.actCallIn|date:('h:mm a')}}</span> </span><br>
                <span *ngIf="roster.actCallOut.length!=0"> Out:
                  <span class="float-right color-green"
                    (click)="signInFlag(template,i,'signout')">{{roster.actCallOut|date:('h:mm a')}}</span></span>

                <div class="d-flex justify-content-end">
                  <button *ngIf="roster.actCallOut.length==0 && roster.actCallIn.length!=0"
                    (click)="signInFlag(template,i,'signout')" type="button" class="btn-signout">Sign
                    Out</button>
                </div>

                <div class="d-flex justify-content-end align-items-center">
                  <button *ngIf="roster.breakvalue=='end'&&roster.actCallIn.length!=0&&roster.actCallOut.length==0"
                    (click)="!pastEventFlag?break('end',roster.breakTaken,i):''" type="button"
                    class="btn-green bg-danger mt-1 ">End</button>
                  <button *ngIf=" roster.breakvalue=='start'&&roster.actCallIn.length!=0&&roster.actCallOut.length==0"
                    (click)="!pastEventFlag? break('start',roster.breakTaken,i):''" type="button"
                    class="btn-green bg-green mt-1 align-right">Start</button>

                </div>
              </td>
              <td class="align-bottom">
                <span *ngIf="roster.breakTaken!=0" class="link"
                  (click)=" breaksummary( roster.stagingId,roster)">&nbsp;{{roster.breakTaken}}</span>
              </td>
            </tr>


          </tbody>
        </table>
        <div *ngIf="rosterData.length==0" class="w-100">
          <h3 *ngIf="intialAPiCall && eventDetails?.nonEventFlag == 1" class="AvenirLTStd-Heavy mt-3 text-center">Please set the Filter and Click on Search</h3>
          <h3 *ngIf="!intialAPiCall" class="AvenirLTStd-Heavy mt-3 text-center"> No Data to Display</h3>
        </div>
      </div>

      <div class="pagination-wrapper d-flex justify-content-between d-flex mt-2">
        <button (click)="navigation('event')" type="button"
          class="d-flex align-items-center bg-danger add-button mt-2"><span class="material-icons mr-2 ">
            close
          </span> Close</button>
        <button *ngIf="!pastEventFlag" (click)="navigation('munscheduled')" _ngcontent-lli-c176="" type="button"
          class="d-flex align-items-center bg-blue add-button  mt-2" data-toggle="modal" data-target="#Unscheduled">
          Unscheduled Worker </button>
        <button (click)="navigation('msummary-details')" _ngcontent-lli-c176="" type="button"
          class="btn common-table-btn reset-button d-flex align-items-center mt-2">Summary</button>
      </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h5 class="modal-title modal-title-content AvenirLTStd-Heavy" id="exampleModalLongTitle"><span
          class="circle"></span>{{popupType=="signin"?'Sign In':'Sign Out'}} - {{popupTitle}}</h5>
      <button type="button" class="close m-0 close-button text-white" (click)="bsmodelRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body modal-body-container">
      <div class="pb-2">
        <label>Date</label>
        <div class="input-group input-search login-input">
          <input class="form-control search-input" type="text" readonly bsDatepicker [(ngModel)]="popUpDate"
            placeholder="mm/dd/yyyy">
          <span class="material-icons right-icon">today</span>
        </div>
      </div>
      <div class="pb-2">
        <label>Time</label>
        <div class="d-flex">
          <select [(ngModel)]="popUpHours" class="ml-0 pl-0">
            <option [value]='01'>01</option>
            <option [value]='02'>02</option>
            <option [value]='03'>03</option>
            <option [value]='04'>04</option>
            <option [value]='05'>05</option>
            <option [value]='06'>06</option>
            <option [value]='07'>07</option>
            <option [value]='08'>08</option>
            <option [value]='09'>09</option>
            <option [value]='10'>10</option>
            <option [value]='11'>11</option>
            <option [value]='12'>12</option>
          </select>
          <select [(ngModel)]="popUpminutes">
            <option *ngFor="let minute of minutesArray;let i=index" [value]='i'>{{i}}</option>
          </select>
          <select [(ngModel)]="popUpMeridian">

            <option [value]='"AM"'>AM</option>
            <option [value]='"PM"'>PM</option>
          </select>
        </div>

      </div>
      <div class="close-button d-flex">
        <button type="submit" class="btn btn-inner mr-5 bg-danger" (click)="bsmodelRef.hide()">Cancel</button>
        <button type="submit" class="btn btn-inner bg-blue" data-dismiss="modal"
          (click)="saveToSignInStaging(popupIndex,popupType,true)">Save</button>

      </div>
    </div>
  </ng-template>
  <ng-template #unscheduledtemplate>
    <div class="modal-header">
      <h5 class="modal-title modal-title-content AvenirLTStd-Heavy" id="exampleModalLongTitle"><span
          class="circle"></span>{{popupType=="signin"?'Sign In':'Sign Out'}} - {{popupTitle}}</h5>
      <button type="button" class="close m-0 close-button" (click)="bsmodelRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body modal-body-container">
      <div class="pb-2">
        <label>Date</label>
        <div class="input-group input-search login-input">
          <input class="form-control search-input" type="text" readonly bsDatepicker [(ngModel)]="popUpDate"
            placeholder="mm/dd/yyyy">
          <span class="material-icons right-icon">today</span>
        </div>
      </div>
      <div class="pb-2">
        <label>Time</label>
        <div class="d-flex">
          <select [(ngModel)]="popUpHours" class="ml-0 pl-0">
            <option [value]='01'>01</option>
            <option [value]='02'>02</option>
            <option [value]='03'>03</option>
            <option [value]='04'>04</option>
            <option [value]='05'>05</option>
            <option [value]='06'>06</option>
            <option [value]='07'>07</option>
            <option [value]='08'>08</option>
            <option [value]='09'>09</option>
            <option [value]='10'>10</option>
            <option [value]='11'>11</option>
            <option [value]='12'>12</option>
          </select>
          <select [(ngModel)]="popUpminutes">
            <option *ngFor="let minute of minutesArray;let i=index" [value]='i'>{{i}}</option>
          </select>
          <select [(ngModel)]="popUpMeridian">

            <option [value]='"AM"'>AM</option>
            <option [value]='"PM"'>PM</option>
          </select>
        </div>

      </div>
      <div class="close-button d-flex">
        <button type="submit" class="btn btn-inner mr-5 bg-red" (click)="bsmodelRef.hide()">Close</button>
        <button type="submit" class="btn btn-inner bg-green"
          (click)="saveToSignInStagingUnscheduled(popupIndex,popupType,true)">Save</button>
      </div>
    </div>
  </ng-template>
</div>
