<p *ngIf="!blobcontent">QR code loading.....</p>
<div class="bg-table-green ">
  <div class="p-3">
    <!-- <img src="assets/images/Screenshot_13.png" class="img-fluid d-block m-auto"> -->
    <img *ngIf="blobcontent" blobcontentimg [src]="('data:image/JPEG;base64,' +blobcontentImg) | domsanitize"
      alt="qrc" class="img-fluid d-block m-auto">
  </div>
  </div>
  <button (click)="close()" type="button" class="d-flex align-items-center bg-danger add-button "><span
    class="material-icons mr-2">
    close
  </span> Close</button>
