<!-- <p>header works!</p> -->

<div class="header header-bg-new h-50px">
    <div class="container-fluid h-100">
        <div class="d-flex align-items-center h-100 justify-content-between" >
            <div class="logo-div" style="height: 45px;
            width: 137px;">
                <img src="assets/images/CaterXpert-01.png" alt="Logo" class="img-fluid">
            </div>
            <h2 *ngIf="!devicedetector.isMobile()" class="AvenirLTStd-Heavy m-0 text-center color-white ml-n5">Supervisor Sign In</h2>
            <h4 *ngIf="devicedetector.isMobile()" class="AvenirLTStd-Heavy m-0 text-center color-white">Supervisor Sign In</h4>
            <div class="color-white h-100 d-flex align-items-center cursor-pointer logout">
                <span (click)="home()" class="material-icons pr-3">
                    home
                    </span>
                <span (click)="logOutUser()" class="material-icons">
                    login
                </span>
            </div>
        </div>
    </div>
</div>
