<!-- <p>break-summary works!</p> -->
<div class="roaster-container p-3">

    <div class="edit-options-table-container">
        <div class="title-header">
            <h4 class="m-0 AvenirLTStd-Heavy">Break Summary</h4>
            <!-- <div class="input-group input-search login-input pl-2">
                <input class="form-control search-input" type="text">
                <span class="material-icons right-icon">search</span>
            </div> -->
        </div>
        <div class="table-responsive table-container ">

            <table class="edit-options-table  break-table border-left table">
                <thead>
                    <tr>
                        <th scope="col" class="sticky-top edit-table-th border-right sticky-left">
                            <div class="d-flex align-items-center">Position Type
                                <span class="material-icons transform-90 d-none">
                                    arrow_right_alt
                                </span>
                                <span class="material-icons transform90 ">
                                    arrow_right_alt
                                </span>
                            </div>
                        </th>
                        <th scope="col" class="sticky-top edit-table-th border-right sticky-left ">


                            <div class="d-flex align-items-center">Worker Name
                                <span class="material-icons transform-90 d-none">
                                    arrow_right_alt
                                </span>
                                <span class="material-icons transform90 ">
                                    arrow_right_alt
                                </span>
                            </div>
                        </th>
                        <th scope="col" class="sticky-top edit-table-th p-0 border-right ">
                            <div class="text-center">
                                <h5 class="m-0 AvenirLTStd-Heavy border-bottom pt-2">Break 1</h5>
                                <div class="d-flex align-items-center justify-content-around">
                                    <h5 class="m-0 p-2 w-50 border-right">Break 1</h5>
                                    <h5 class="m-0 p-2 w-50">Break 1</h5>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="sticky-top edit-table-th p-0 border-right">
                            <div class="text-center">
                                <h5 class="m-0 AvenirLTStd-Heavy border-bottom pt-2">Break 2</h5>
                                <div class="d-flex align-items-center justify-content-around">
                                    <h5 class="m-0 p-2 w-50 border-right">Break 1</h5>
                                    <h5 class="m-0 p-2 w-50">Break 1</h5>
                                </div>
                            </div>

                        </th>
                        <th scope="col" class="sticky-top edit-table-th p-0 border-right ">
                            <div class="text-center">
                                <h5 class="m-0 AvenirLTStd-Heavy border-bottom pt-2">Break 3</h5>
                                <div class="d-flex align-items-center justify-content-around">
                                    <h5 class="m-0 p-2 w-50 border-right">Break 1</h5>
                                    <h5 class="m-0 p-2 w-50">Break 1</h5>
                                </div>
                            </div>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <td class="border-right form-input border-bottom sticky-left">
                            Chef
                        </td>
                        <td class="border-right form-input border-bottom sticky-left">
                            ABC
                        </td>
                        <td class="form-input border-right  border-bottom px-0 ">
                            <div class="text-center">

                                <div class="d-flex align-items-center justify-content-around">
                                    <h5 class="m-0 p-2 w-50 border-right">Break 1</h5>
                                    <h5 class="m-0 p-2 w-50">Break 1</h5>
                                </div>
                            </div>
                        </td>
                        <td class="form-input border-right  border-bottom px-0">
                            <div class="text-center">

                                <div class="d-flex align-items-center justify-content-around">
                                    <h5 class="m-0 p-2 w-50 border-right">Break 1</h5>
                                    <h5 class="m-0 p-2 w-50">Break 1</h5>
                                </div>
                            </div>
                        </td>
                        <td class="form-input border-right  border-bottom px-0 ">
                            <div class="text-center">

                                <div class="d-flex align-items-center justify-content-around">
                                    <h5 class="m-0 p-2 w-50 border-right">Break 1</h5>
                                    <h5 class="m-0 p-2 w-50">Break 1</h5>
                                </div>
                            </div>
                        </td>

                    </tr> -->
                    <tr *ngFor="let worker of workerBreaksList;let i=index">
                      <td class="border-right form-input border-bottom sticky-left">
                          {{worker.positionType}}
                      </td>
                      <td class="border-right form-input border-bottom sticky-left">
                        {{worker.resourceName}}
                      </td>
                      <td class="form-input border-right  border-bottom px-0 ">
                          <div class="text-center">

                              <div class="d-flex align-items-center justify-content-around">
                                  <h5 class="m-0 p-2 w-50 border-right h-30">{{worker.b1Callin}}</h5>
                                  <h5 class="m-0 p-2 w-50 h-30">{{worker.b1Callout}}</h5>
                              </div>
                          </div>
                      </td>
                      <td class="form-input border-right  border-bottom px-0">
                          <div class="text-center">

                              <div class="d-flex align-items-center justify-content-around">
                                  <h5 class="m-0 p-2 w-50 border-right h-30">{{worker.b2Callin}}</h5>
                                  <h5 class="m-0 p-2 w-50 h-30">{{worker.b2Callout}}</h5>
                              </div>
                          </div>
                      </td>
                      <td class="form-input border-right  border-bottom px-0 ">
                          <div class="text-center">

                              <div class="d-flex align-items-center justify-content-around">
                                  <h5 class="m-0 p-2 w-50 border-right h-30">{{worker.b3Callin}}</h5>
                                  <h5 class="m-0 p-2 w-50 h-30">{{worker.b3Callout}}</h5>
                              </div>
                          </div>
                      </td>

                  </tr>



                </tbody>

            </table>
            <div *ngIf="workerBreaksList.length==0" class="w-100 text-center">
                <h3 class="AvenirLTStd-Heavy mt-3 text-center"> No Data to Display</h3>
              </div>
        </div>
    </div>
    <!-- <div class="pagination-wrapper  justify-content-end d-flex m-0">

        <div class="pagination justify-content-end pagination-button mt-2">
            <div class="page-item"><button _ngcontent-lli-c176="" type="button"
                    class="btn common-table-btn reset-button ">Refresh</button> <button type="button"
                    class="btn common-table-btn reset-button ">Reset</button></div>
            <div class="page-item">
                <h3>Per page</h3>
            </div>
            <select class="bg-white border-0 outline-0">
                <option class="ng-star-inserted">10
                </option>
                <option class="ng-star-inserted">20
                </option>

            </select>
            <div class="page-item">
                <h3>Showing 1 to 20 of 171</h3>
            </div>

        </div>
    </div> -->

    <div class="pagination-wrapper  justify-content-between d-flex mt-2">



        <button (click)="modalService.hide()" type="button" class="d-flex align-items-center bg-danger add-button " ><span class="material-icons mr-2">
            close
          </span> Close</button>

      </div>




</div>
