<app-mobile-header></app-mobile-header>
<app-event-info></app-event-info>

<div class="px-3">


  <div class="d-flex justify-content-between bg-blue mt-1">
    <div class="d-flex justify-content-between align-items-center px-3  text-white">
      <h5 class="text-white py-2 mb-0">Summary</h5>
    </div>

    <div class="unscheduled-filter-dropdown">
      <button class="btn text-white dropdown-toggle" (click)="openFliter(filter)" type="button">
        <i class="fas fa-filter"></i>
      </button>
      <ng-template #filter class="dropdown-menu navbar-toggleable-xl">
        <div class="drop-down-content">
          <input type="text" class="form-control mb-3" *ngIf="this.eventDetails.nonEventFlag==1" style="background-color: #ffff;" readonly [(ngModel)]="eventDate"  bsDatepicker placeholder="Event Date">
          <input class="form-control mb-3 " type="text" [(ngModel)]="workerName" placeholder="Worker Name">
          <!-- <input type="text" class="form-control mb-3" placeholder="11/24/2020"> -->
          <ng-select class="w-100" placeholder="Position Type"  disbled [items]="personnelTypesList" [multiple]="false" bindLabel='code'
            bindValue='id' [(ngModel)]="positionTypeId">
          </ng-select>

          <button (click)="applyFilter()"
            class="btn bg-green add-button ml-2 mb-2 color-white d-flex align-items-center justify-content-end mt-2 float-right">
            Search
            <span _ngcontent-gsf-c92="" class="material-icons mr-1">search</span>
          </button>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="table-responsive">
    <div class="unscheduled-table-height-wrapper" [ngStyle]="{'height':windowHeight}">
      <table class="table box-shadow table-striped">

        <tbody class="bg-white">
          <tr *ngFor="let data of summaryData;let i=index">
            <td class="lh-25 pad-y">
              {{data.ptCode}} - {{data.sortCode}}
              <br>
              {{data.resourceName}}<br>

              {{data.callIn|date:('h:mm a')}} -
              {{data.callOut|date:('h:mm a')}}<br>

            </td>
            <td class="lh-25 pad-y ">
              <div>
                  <span>In - Out:</span>
                <div class="float-right color-green">
                    <span (click)="signInFlag(template,i,'signin',data.actCallIn)"> {{data.actCallIn|date:('h:mm a')}}
                    </span> - <span (click)="signInFlag(template,i,'signout',data.actCallOut)" class="">
                      {{data.actCallOut|date:('h:mm a')}} </span><span style="color: black;">{{data.totalHours}}</span>
                </div>
              </div>
              <div>
                Brk1:
                <span class="data float-right color-green">
                    <span  (click)="signInFlag(template,i,'break1in',data.break1ActIn)" class="text-right">
                        {{data.break1ActIn|date:('h:mm a')}}</span>
                      - <span
                        (click)="signInFlag(template,i,'break1out',data.break1ActOut)" class="text-right">{{data.break1ActOut|date:('h:mm a')}}</span>
                </span>
              </div>
              <div>
                Brk2:
                  <span class="float-right color-green">
                    <span (click)="signInFlag(template,i,'break2in',data.break2ActIn)">
                        {{data.break2ActIn|date:('h:mm a')}}</span>
                      - <span
                        (click)="signInFlag(template,i,'break2out',data.break2ActOut)">{{data.break2ActOut|date:('h:mm a')}}</span>
                  </span>
              </div>
              <div>
                Brk3:
                  <span class="float-right color-green">
                    <span  (click)="signInFlag(template,i,'break3in',data.break3ActIn)">
                        {{data.break3ActIn|date:('h:mm a')}}</span>
                      - <span
                        (click)="signInFlag(template,i,'break3out',data.break3ActOut)">{{data.break3ActOut|date:('h:mm a')}}</span>
                  </span>
              </div>
              <div *ngIf="data.approveFlag==0 && data.scheduledFlag==0">

                <!-- <span class="material-icons color-green float-right ">check_circle </span> -->
                <button (click)="approveUnscheduledWorker(data)"  type="button" class="btn-green float-right mb-1 ">Approve</button>

              </div>
            </td>
            <!-- <td><span class="material-icons color-green ">check_circle </span></td> -->
          </tr>



        </tbody>
      </table>
      <div *ngIf="summaryData.length==0" class="w-100 text-center">
        <h3 class="AvenirLTStd-Heavy mt-3 text-center">No Data to Display</h3>
      </div>
    </div>



    <div class="mt-2  d-flex align-items-center justify-content-between">
      <button (click)="roster()" type="button" class="d-flex align-items-center bg-danger add-button "><span
          class="material-icons mr-2">
          close
        </span> Close</button>
      <button *ngIf="!pastEventFlag" (click)="saveSummaryList()" _ngcontent-lli-c176="" type="button"
        class="d-flex align-items-center bg-blue add-button submit-btn" data-target="#Unscheduled">
        Submit</button>

    </div>



  </div>


  <ng-template #template>
    <div class="modal-header">
      <h5 class="modal-title modal-title-content AvenirLTStd-Heavy" id="exampleModalLongTitle"><span
          class="circle"></span>{{popupTypeTitle}} - {{popupTitle}}</h5>
      <button type="button" class=" close m-0 px-3 pt-2 close-button text-white" (click)="bsmodelRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body modal-body-container">
      <div class="pb-2">
        <label>Date</label>
        <div class="input-group input-search login-input">
          <input class="form-control search-input" type="text" readonly bsDatepicker [(ngModel)]="popUpDate"
            placeholder="mm/dd/yyyy">
          <span class="material-icons right-icon">today</span>
        </div>
      </div>
      <div class="pb-2">
        <label>Time</label>
        <div class="d-flex">
          <select [(ngModel)]="popUpHours" class="ml-0 pl-0">
            <option [value]='01'>01</option>
            <option [value]='02'>02</option>
            <option [value]='03'>03</option>
            <option [value]='04'>04</option>
            <option [value]='05'>05</option>
            <option [value]='06'>06</option>
            <option [value]='07'>07</option>
            <option [value]='08'>08</option>
            <option [value]='09'>09</option>
            <option [value]='10'>10</option>
            <option [value]='11'>11</option>
            <option [value]='12'>12</option>
          </select>
          <select [(ngModel)]="popUpminutes">
            <option *ngFor="let minute of minutesArray;let i=index" [value]='i'>{{i}}</option>
          </select>
          <select [(ngModel)]="popUpMeridian">
            <option [value]='"AM"'>AM</option>
            <option [value]='"PM"'>PM</option>
          </select>
        </div>
      </div>
      <div class="close-button d-flex">
        <button type="submit" class="btn btn-inner mr-5 bg-danger" (click)="bsmodelRef.hide()">Cancel</button>
        <button type="submit" class="btn btn-inner bg-blue" data-dismiss="modal"
          (click)="saveToSignInStaging(popupIndex,popupType,true)">Save</button>
      </div>
    </div>
  </ng-template>
