<!-- <app-mobile-header></app-mobile-header> -->

<div class="p-3 table-responsive">

    <div class="bg-blue text-white py-2 mb-2">
        <h5 class="text-white text-center ">Break Summary</h5>
    </div>

    <div class="table-height-wrapper">
        <table class="table box-shadow table-striped">
            <thead class="bg-blue align-middle text-white">
                <tr>
                    <th scope="col">
                        <span>Position Type</span><br>
                        <span>Worker Name</span><br>
                    </th>

                    <th scope="col">
                        <span>Break 1 (Start - End)</span><br>
                        <span>Break 2 (Start - End)</span><br>
                        <span>Break 3 (Start - End)</span><br>
                    </th>

                </tr>

            </thead>
            <tbody class="bg-white">
                <tr *ngFor="let worker of workerBreaksList;let i=index">
                    <td>
                      {{worker.positionType}}<br>
                      {{worker.resourceName}}<br>

                    </td>
                    <td>
                      <span (click)="signInFlag(template,i,'break1in',worker.b1Callin)" >{{worker.b1Callin}}</span> -<span (click)="signInFlag(template,i,'break1out',worker.b1Callout)" > {{worker.b1Callout}}</span><br>
                      <span (click)="signInFlag(template,i,'break2in',worker.b2Callin)" >{{worker.b2Callin}}</span> -<span (click)="signInFlag(template,i,'break2out',worker.b2Callout)" > {{worker.b2Callout}}</span><br>
                      <span (click)="signInFlag(template,i,'break3in',worker.b3Callin)" >{{worker.b3Callin}}</span> -<span (click)="signInFlag(template,i,'break3out',worker.b3Callout)" > {{worker.b3Callout}}</span><br>
                        <!-- 2:00PM<br>
                            <button type="button" class="btn-green">Sign
                                Out</button><br>
                            4<br> -->
                    </td>
                </tr>


            </tbody>
        </table>
    </div>


    <div class="mt-2  d-flex align-items-center justify-content-between">
        <button (click)="modalService.hide()" type="button" class="d-flex align-items-center bg-danger add-button "><span
                class="material-icons mr-2">
                close
            </span> Close</button>
    </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title modal-title-content AvenirLTStd-Heavy" id="exampleModalLongTitle"><span
        class="circle"></span>{{popupTypeTitle}} - {{popupTitle}}</h5>
    <button type="button" class=" close m-0 px-3 pt-2 close-button text-white" (click)="bsmodelRef2.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-body-container">
    <div class="pb-2">
      <label>Date</label>
      <div class="input-group input-search login-input">
        <input class="form-control search-input" type="text" readonly bsDatepicker [(ngModel)]="popUpDate"
          placeholder="mm/dd/yyyy">
        <span class="material-icons right-icon">today</span>
      </div>
    </div>
    <div class="pb-2">
      <label>Time</label>
      <div class="d-flex">
        <select [(ngModel)]="popUpHours" class="ml-0 pl-0">
          <option [value]='01'>01</option>
          <option [value]='02'>02</option>
          <option [value]='03'>03</option>
          <option [value]='04'>04</option>
          <option [value]='05'>05</option>
          <option [value]='06'>06</option>
          <option [value]='07'>07</option>
          <option [value]='08'>08</option>
          <option [value]='09'>09</option>
          <option [value]='10'>10</option>
          <option [value]='11'>11</option>
          <option [value]='12'>12</option>
        </select>
        <select [(ngModel)]="popUpminutes">
          <option *ngFor="let minute of minutesArray;let i=index" [value]='i'>{{i}}</option>
        </select>
        <select [(ngModel)]="popUpMeridian">
          <option [value]='"AM"'>AM</option>
          <option [value]='"PM"'>PM</option>
        </select>
      </div>
    </div>
    <div class="close-button d-flex">
      <button type="submit" class="btn btn-inner mr-5 bg-danger" (click)="bsmodelRef2.hide()">Cancel</button>
      <button type="submit" class="btn btn-inner bg-blue" data-dismiss="modal"
        (click)="saveToSignInStaging(popupIndex,popupType,true)">Save</button>
    </div>
  </div>
</ng-template>
