<app-mobile-header></app-mobile-header>



<div class="p-3 table-responsive">

    <div class="d-flex justify-content-between bg-blue">
        <div class=" d-flex justify-content-between align-items-center px-3 text-white">
            <h5 class="text-white py-2 mb-0">Event List</h5>
        </div>


        <div class="filter-dropdown">
            <button class="btn text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-filter"></i>
            </button>
            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                <div class="drop-down-content">
                    <input type="text" class="form-control mb-3" [(ngModel)]="cisNumber" placeholder="Event #">
                    <input type="text" class="form-control mb-3" [tooltip]="'Start Date'"
                        [(ngModel)]="startDate" readonly bsDatepicker placeholder="MM/DD/yyyy">
                    <input type="text" class="form-control mb-3" [tooltip]="'End Date'" [(ngModel)]="endDate"  readonly
                        bsDatepicker placeholder="MM/DD/yyyy">

                    <button (click)="applyfilter()"
                        class="btn bg-green add-button ml-2 color-white d-flex align-items-center pr-2 mb-2 float-right">
                        Search
                        <span  class="material-icons mr-1 pl-2">search</span>
                    </button>
                </div>
            </div>
        </div>
    </div>



    <div class="table-height-wrapper" [ngStyle]="{'height':windowHeight}">
        <table class="table box-shadow table-striped">
            <tbody class="bg-white">
                <tr [ngClass]="event.bgColor" *ngFor="let event of eventList;let i=index">
                    <!-- <td>
                        {{event.cisNumber}}<br>
                        {{event.companyName}}<br>
                        {{event.eventDate}}<br>
                        {{event.eventBeginTime}}<br>
                        {{event.eventEndTime}}<br>
                    </td>
                    <td>
                        {{event.noOfWorkers}}<br>
                        {{event.signInCount}}<br>
                        {{event.signOutCount}}<br>
                    </td> -->
                    <td class="lh-25 pad-y align-middle" style="width: 190px;">
                        {{event.cisNumber}}<br>
                        {{event.companyName|slice:0:18 }}{{ event.companyName.length>18?'...':'' }}<br>
                        {{event.eventDate}}<br>
                        {{event.eventBeginTime}} - {{event.eventEndTime}}<br>

                    </td>
                    <td class="align-middle pad-y">
                        Total:<span class="float-right">{{event.noOfWorkers}}</span> <br>
                        Signed In:<span class="float-right">{{event.signInCount}}</span><br>
                        Signed Out:<span class="float-right">{{event.signOutCount}}</span><br>
                    </td>
                    <td class="mobile-icon-wrapper pad-y">
                        <button (click)="getEventStaffingInfo(event.eventid,event)" _ngcontent-qag-c92="" type="button"
                            data-toggle="modal" data-target="#staffinfo" class="btn-green btn-staffInfo mb-2"><i
                                class="fas fa-info-circle f-16"></i></button>
                        <button (click)="roster(event.eventid,event)" _ngcontent-xaa-c92="" type="button"
                            class="btn-green btn-staffInfo mb-2 f-16"> <i class="fas fa-list-ul"></i> </button>
                        <button (click)="getEventQRCode(event,qrc)" _ngcontent-xaa-c92="" type="button"
                            class="btn-green btn-staffInfo f-16"><i class="fas fa-qrcode"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="eventList.length==0" class="w-100">
            <h3 class="AvenirLTStd-Heavy mt-3 text-center">No Data to Display</h3>
        </div>
    </div>



</div>

<ng-template #qrc>
    <div class="bg-table-green ">
        <div class="p-3">
            <!-- <img src="assets/images/Screenshot_13.png" class="img-fluid d-block m-auto"> -->
            <img *ngIf="blobcontent" blobcontentimg [src]="('data:image/JPEG;base64,' +blobcontentImg) | domsanitize"
                alt="qrc" class="img-fluid d-block m-auto">
        </div>
    </div>
    <button (click)="modelref.hide()" style="width: 83px;" type="button"
        class="d-flex align-items-center bg-danger add-button m-2">
        <span class="material-icons mr-2">
            close
        </span> Close
    </button>
</ng-template>

<div class="modal fade p-0" id="staffinfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true" *ngIf="eventDetails">
    <div class="modal-dialog modal-container staffing-modal modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header bg-blue text-center color-white justify-content-between align-items-center">
                <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-center" id="exampleModalLongTitle">
                    <span class="circle"></span>Staffing Info</h5>
                <div class="align-items-center">
                    <button type="button" class="close m-0 close-button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="color-white">&times;</span>
                    </button>
                </div>
            </div>



            <div class="modal-body modal-body-container">

                <div class="text-white event-info px-3 py-1  mt-1 rounded f-12 text-center">
                    <div class="d-flex justify-content-center">
                        <p class="m-0 strong">Event # {{eventDetails.cisNumber}} &nbsp;- </p>
                        <p class="m-0 strong"> &nbsp;
                            {{eventDetails.companyName|slice:0:18 }}{{ eventDetails.companyName.length>18?'...':'' }}
                        </p>
                    </div>

                    <div class="d-flex justify-content-center">
                        <p class="m-0 strong">{{eventDetails.eventDate}} &nbsp; - &nbsp;</p>
                        <p class="m-0 strong"> {{eventDetails.eventBeginTime}} To {{eventDetails.eventEndTime}} </p>
                    </div>
                </div>

                <div class="table-responsive staffing-table-container mt-2 box-shadow p-2">
                    <table class=" table mb-0 table-striped">
                        <tbody>
                            <tr *ngFor="let staff of staffingInfo;let i=index">
                                <td class="border-right form-input border-bottom border-left">
                                    {{staff.label}}
                                </td>
                                <td class="border-right form-input border-bottom">
                                    {{staff.value}}
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>
                <div class="close-button d-flex justify-content-center">
                    <button type="submit" class="d-flex align-items-center bg-danger add-button mt-2"
                        data-dismiss="modal"><span class="material-icons mr-2 ">
                            close
                        </span> Close</button>
                    <!-- <button type="submit" class="btn btn-inner bg-green" data-dismiss="modal">Save</button> -->

                </div>
            </div>
        </div>
    </div>
</div>
